<div>
    <div class="container">
        <footer class="d-block clr-black pdb-75 pdb-lg-90">
            <div class="pdb-lg-100">
                <hr class="br-0 brtw-1 brs-sol clr-black-br w-100-p mr-0 d-none d-lg-block">
                <div class="pdt-46 pdt-lg-23 pdb-18">
                    <div class="row mrl-15- mrr-15- mrl-lg-5- mrr-lg-5-">
                        <div class="col-12 col-sm-6 col-lg-4 pdl-15 pdr-15 pdl-lg-5 pdr-lg-5 pdb-24 pdb-lg-0">
                            <div class="d-flex flex-column">
                                <div class="mrb-23 mrb-lg-46">
                                    <a class="d-block" href="/">
                                        <img class="d-block w-144 w-lg-262" src="./img/svg/logo.svg" alt="Logo">
                                    </a>
                                </div>
                                <div class="mrb-16 mrb-lg-31">
                                    <a class="d-block clr-accent-h" href="tel:+79885457027">
                                        <span class="d-flex align-items-center mrl-4- mrr-4- mrl-lg-6- mrr-lg-6-">
                                            <span class="pdl-4 pdr-4 pdl-lg-6 pdr-lg-7">
                                                <i class="icon-tel-2 fts-22 fts-lg-34 clr-accent"></i>
                                            </span>
                                            <span class="pdl-4 pdr-4 pdl-lg-6 pdr-lg-6">
                                                <span class="d-block fts-16 fts-lg-24 ftw-700 lh-1-25 clr-black">+7 (988) 545-70-27</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="mrb-23 mrb-lg-26 d-lg-none">
                                    <div class="mrl-3- mrr-3- d-flex">
                                        <div class="pdl-3 pdr-2">
                                            <span class="d-block p-rel t-1 mrl-4- mrl-lg-0">
                                                <i class="icon-loc fts-30 fts-lg-39 clr-accent"> </i>
                                            </span>
                                        </div>
                                        <div class="pdl-3 pdr-3">
                                            <div class="d-flex flex-column align-items-start">
                                                <div class="pdb-8 pdt-lg-1 pdb-lg-5">
                                                    <p class="fts-16 ftw-500 lh-1-125">Ростов-на-Дону,<br> ул.Михаила Нагибина 31А</p>
                                                </div>
                                                <div>
                                                    <a class="d-block ftw-500 fts-12 fts-lg-15 lh-1 clr-secondary clr-accent-h" href="#">Показать на карте</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <p class="fts-16 fts-lg-18 ftw-500 lh-1-25 lh-lg-1-2778"><span class="d-block ftw-700">Режим работы:</span> ежедневно с 10:00 до 19:00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 pdl-15 pdr-15 col-lg-5 pdl-lg-5 pdr-lg-5 pdb-22 pdb-lg-0">
                            <div class="d-flex flex-column pdt-lg-12">
                                <div class="d-flex mrl-17- mrr-17- mrl-lg-31- mrr-lg-31-">
                                    <div class="pdl-17 pdr-17 pdl-lg-31 pdr-lg-31">
                                        <ul class="d-block list-reset">
                                            <li class="d-flex flex-column pdb-13 pdb-lg-18">
                                                <a class="fts-12 fts-lg-16 ftw-500 lh-1-25 clr-black clr-accent-h" href="#">О нас</a>
                                            </li>
                                            <li class="d-flex flex-column pdb-13 pdb-lg-18">
                                                <a class="fts-12 fts-lg-16 ftw-500 lh-1-25 clr-black clr-accent-h" href="#">Расчет стоимости</a>
                                            </li>
                                            <li class="d-flex flex-column pdb-13 pdb-lg-18">
                                                <a class="fts-12 fts-lg-16 ftw-500 lh-1-25 clr-black clr-accent-h" href="#">Примеры работ</a>
                                            </li>
                                            <li class="d-flex flex-column pdb-13 pdb-lg-18">
                                                <a class="fts-12 fts-lg-16 ftw-500 lh-1-25 clr-black clr-accent-h" href="#">Отзывы</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pdl-17 pdr-17 pdl-lg-31 pdr-lg-31">
                                        <ul class="d-block list-reset">
                                            <li class="d-flex flex-column pdb-13 pdb-lg-18">
                                                <a class="fts-12 fts-lg-16 ftw-500 lh-1-25 clr-black clr-accent-h" href="#">Производство</a>
                                            </li>
                                            <li class="d-flex flex-column pdb-13 pdb-lg-18">
                                                <a class="fts-12 fts-lg-16 ftw-500 lh-1-25 clr-black clr-accent-h" href="#">FAQ</a>
                                            </li>
                                            <li class="d-flex flex-column pdb-13 pdb-lg-18">
                                                <a class="fts-12 fts-lg-16 ftw-500 lh-1-25 clr-black clr-accent-h" href="#">Контакты</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 pdl-15 pdr-15 pdl-lg-5 pdr-lg-5">
                            <div class="d-flex flex-column">
                                <div class="mrb-25 d-none d-lg-block">
                                    <div class="mrl-3- mrr-3- d-flex">
                                        <div class="pdl-3 pdr-4">
                                            <span class="d-block p-rel t-1">
                                                <i class="icon-loc fts-39 clr-accent"> </i>
                                            </span>
                                        </div>
                                        <div class="pdl-3 pdr-3">
                                            <div class="d-flex flex-column align-items-start">
                                                <div class="pdt-1 pdb-3">
                                                    <p class="ftw-500 lh-1-125">Ростов-на-Дону,<br> ул.Михаила Нагибина 31А</p>
                                                </div>
                                                <div class="pdt-2 pdb-1">
                                                    <a class="d-block ftw-500 fts-15 lh-1 clr-secondary clr-accent-h" href="#">Показать на карте</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mrb-15">
                                    <h5 class="fts-16 ftw-700 lh-1-25 mrb-18">Задайте вопрос напрямую в: </h5>
                                    <ul class="d-block list-reset mrb-15-">
                                        <li class="d-flex flex-column align-items-start">
                                            <div class="mrb-15">
                                                <a href="#" class="d-block clr-black clr-accent-h">
                                                    <span class="d-flex align-items-center mrl-6- mrr-6-">
                                                        <span class="pdl-6 pdr-6">
                                                            <span class="h-23 w-23 brr-50-p brw-1 brs-sol clr-accent-br d-flex justify-content-center align-items-center">
                                                                <i class="icon-telegram clr-accent p-rel l-1- fts-16"></i>
                                                            </span>
                                                        </span>
                                                        <span class="pdl-6 pdr-6">
                                                            <span class="d-block fts-16 ftw-500 lh-1-25">Telegram</span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="mrb-15">
                                                <a href="#" class="d-block clr-black clr-accent-h">
                                                    <span class="d-flex align-items-center mrl-6- mrr-6-">
                                                        <span class="pdl-6 pdr-6">
                                                            <span class="h-23 w-23 brr-50-p brw-1 brs-sol clr-accent-br d-flex justify-content-center align-items-center">
                                                                <i class="icon-whatsapp clr-accent fts-18 p-rel t-1- t-lg-0">
                                                                    <span class="path1 clr-accent"></span>
                                                                    <span class="path2 clr-white"></span>
                                                                </i>
                                                            </span>
                                                        </span>
                                                        <span class="pdl-6 pdr-6">
                                                            <span class="d-block fts-16 ftw-500 lh-1-25">WhatsApp</span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <span class="d-flex">
                                        <span class="pdl-7 pdr-8 pdt-3">
                                            <span class="d-block h-11 w-11 brr-50-p bg-clr-tertiary-3 fltr-ds-tertiary"></span>
                                        </span>
                                        <span class="pdl-7 pdr-7">
                                            <span class="d-block fts-15 ftw-400 lh-1-2143 clr-tertiary-2">Среднее время ответа 1 минута</span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="br-0 brtw-1 brs-sol clr-black-br w-100-p mr-0 d-none d-lg-block">
                <div class="d-flex flex-column flex-lg-row justify-content-between fts-lg-14 ftw-500 lh-1-2858 pdt-24 pdt-lg-5 pdb-lg-5">
                    <div class="mrb-7">
                        <p>Copyright 2023 Все права защищены</p>
                    </div>
                    <div>
                        <a class="d-block clr-black clr-accent-h" href="#" target="_blank">Политика конфединциальности</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>