<div class="bg-clr-white">
    <div class="container">
        <header class="d-block pdt-22 pdb-21 pdt-lg-20 pdb-lg-20">
            <div class="mrl-15- mrr-15- d-flex align-items-center align-items-lg-start">
                <div class="pdl-15 pdr-15 flex-grow-1 flex-shrink-1">
                    <div class="mrl-12- mrl-12- mrl-xl-22- mrr-xl-22- mnw-0 d-flex">
                        <div class="pdl-12 pdr-12 pdl-xl-22 pdr-xl-22 pdt-lg-10 mnw-0 flex-shrink-0">
                            <a class="d-block" href="/">
                                <img class="d-block w-113 w-lg-213" src="./img/svg/logo.svg" alt="Logo">
                            </a>
                        </div>
                        <div class="pdl-12 pdr-12 pdl-xl-22 pdr-xl-22 pdt-7 mnw-0 d-none d-lg-block">
                            <div class="mrl-3- mrr-3- d-flex">
                                <div class="pdl-3 pdr-4">
                                    <span class="d-block p-rel t-1">
                                        <i class="icon-loc fts-39 clr-accent"> </i>
                                    </span>
                                </div>
                                <div class="pdl-3 pdr-3">
                                    <div class="d-flex flex-column align-items-start">
                                        <div class="pdt-1 pdb-1">
                                            <p class="fts-14 fts-xl-16 ftw-500 lh-1-125">Ростов-на-Дону, ул.Михаила Нагибина 31А</p>
                                        </div>
                                        <div class="pdt-1 pdb-1">
                                            <a class="d-block ftw-500 fts-13 fts-xl-15 lh-1 clr-secondary clr-accent-h" href="#">Показать на карте</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pdl-15 pdr-15 flex-shrink-0">
                    <div class="mrl-6- mrr-6- mrl-lg-12- mrr-lg-12- mrl-xl-25- mrr-xl-25- mnw-0 d-flex align-items-center align-items-lg-start">
                        <div class="pdl-6 pdr-6 pdl-lg-12 pdr-lg-12 pdl-xl-25 pdr-xl-25 mnw-0 d-none d-lg-block">
                            <a class="btn btn--outline-default btn--sm fts-14 ftw-500 pdl-18 pdr-18 pdt-5 pdb-5 w-100-p w-xsm-au d-flex justify-content-center align-items-center brtlr-8 brtrr-8 brbrr-8 brblr-8 jsModalTrigger" href="#modalWillContact">
                                <span class="d-flex justify-content-center align-items-center">
                                    <span class="d-flex justify-content-center align-items-center mrl-8- mrr-8-">
                                        <span class="pdl-8 pdr-8 text-center">
                                            Калькулятор стоимости
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="pdl-6 pdr-6 pdl-lg-12 pdr-lg-12 pdl-xl-25 pdr-xl-25 mnw-0">
                            <div class="mrl-3- mrr-3- mrl-lg-8- mrr-lg-8- d-flex align-items-center">
                                <div class="pdl-3 pdr-3 pdl-lg-8 pdr-lg-8 mnw-0 flex-shrink-0">
                                    <span class="d-block">
                                        <span class="d-block">
                                            <span class="h-28 w-28 h-lg-47 w-lg-47 p-rel z-i-1 d-flex justify-content-center align-items-center">
                                                <i class="icon-tel fts-13 fts-lg-24 clr-white p-rel z-i-1"></i>
                                                <svg class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1-" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <g filter="url(#filter0_d_1_1169)">
                                                    <circle cx="23.9523" cy="23.0476" r="17.625" fill="#FF4E00"/>
                                                    </g>
                                                    <circle cx="23.5" cy="23.5" r="23" stroke="#FF4E00"/>
                                                    <defs>
                                                    <filter id="filter0_d_1_1169" x="2.32733" y="1.42261" width="43.25" height="43.25" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                                    <feOffset/>
                                                    <feGaussianBlur stdDeviation="2"/>
                                                    <feComposite in2="hardAlpha" operator="out"/>
                                                    <feColorMatrix type="matrix" values="0 0 0 0 0.645833 0 0 0 0 0.275999 0 0 0 0 0.113021 0 0 0 1 0"/>
                                                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_1169"/>
                                                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_1169" result="shape"/>
                                                    </filter>
                                                    </defs>
                                                </svg>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                                <div class="pdl-3 pdr-3 pdl-lg-8 pdr-lg-8 mnw-0">
                                    <div class="d-flex flex-column align-items-center align-items-lg-start">
                                        <div>
                                            <a class="d-block clr-secondary-2 fts-12 fts-lg-16 fts-xl-20 ftw-700 lh-1-1667 lh-lg-1-2 clr-accent-h" href="tel:+74999770077">+7 499 977 00 77</a>
                                        </div>
                                        <div>
                                            <a class="d-block clr-secondary-3 fts-12 fts-lg-13 fts-xl-15 ftw-300 ls-0-15- ls-lg-0-225- lh-1 clr-accent-h" href="#">Обратный звонок</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pdl-6 pdr-6 pdl-lg-12 pdr-lg-12 flex-shrink-0 d-lg-none">
                            <button class="burger btn-reset d-block clr-secondary clr-primary-h tra-0-3s-ease" id="hamburger">
                                <span class="d-block pdl-15 pdr-15 pdt-15 pdb-15 mrl-15- mrr-15- mrt-15- mrb-15-">
                                  <i class="icon-hamburger fts-16 clr-black"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div> 
        </header>
    </div>
</div>