@keyframes progress-bar-stripes {
	0% {
		background-position: 40px 0;
	}

	to {
		background-position: 0 0;
	}
}

[data-progress] {
    animation: progress-bar-stripes 2s linear infinite;
}

[data-fade-in] {
	transform: translateY(20px);
	opacity: 0;
    animation: fadeIn 0.5s ease 1 forwards;
}

@keyframes fadeIn {
	100% {
		opacity: 1;
		transform: none
	}
}


@keyframes pulsate {
    0% {transform: scale(0.6, 0.6); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {transform: scale(1, 1); opacity: 0.0;}
}

[data-pulsate] {
	animation: pulsate 1.6s ease-out infinite;
}