.wh-nwp {
    white-space: nowrap;
}

.wb-ba {
  word-break: break-all;
}

.wb-bw {
  word-break: break-word;
}

.vrta-t {
  vertical-align: top;
}

.vrta-m {
  vertical-align: middle;
}

.vrta-b {
  vertical-align: bottom;
}

.vrta-bs {
  vertical-align: baseline;
}

.to-els {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.tt-upp {
    text-transform: uppercase;
}

.tt-low {
    text-transform: lowercase;
}

.tt-cap {
    text-transform: capitalize;
}

.td-un, .td-un-h:hover {
  text-decoration: underline;
}

.ls-inh {
  letter-spacing: inherit;
}

.ls-0-15- {
  letter-spacing: -.15px;
}

.ls-0-165- {
  letter-spacing: -.165px;
}

.ls-0-225- {
  letter-spacing: -.225px;
}

.ls-0-24- {
  letter-spacing: -0.24px
}

.ls-0-21- {
  letter-spacing: -0.21px
}

.fts-inh {
  font-size: inherit;
}

.lh-inh {
  line-height: inherit;
}

.ftstl-nrm {
  font-style: normal;
}
  
  .ftw-100, .ftw-100-h:hover {
    font-weight: 100;
  }
  
  .ftw-200, .ftw-200-h:hover {
    font-weight: 200;
  }
  
  .ftw-300, .ftw-300-h:hover {
    font-weight: 300;
  }
  
  .ftw-400, .ftw-400-h:hover {
    font-weight: 400;
  }
  
  .ftw-500, .ftw-500-h:hover {
    font-weight: 500;
  }
  
  .ftw-600, .ftw-600-h:hover {
    font-weight: 600;
  }
  
  .ftw-700, .ftw-700-h:hover {
    font-weight: 700;
  }
  
  .ftw-800, .ftw-800-h:hover {
    font-weight: 800;
  }
  
  .ftw-900, .ftw-900-h:hover {
    font-weight: 900;
  }
  
  .text-uppercase-geo {
    font-feature-settings: "case" on;
  }
  
  .text-left {
    text-align: left;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-justify {
    text-align: justify;
  }
  
  @include sm-min {
  
    .text-sm-left {
      text-align: left;
    }
  
    .text-sm-center {
      text-align: center;
    }
  
    .text-sm-right {
      text-align: right;
    }
  
    .text-sm-justify {
      text-align: justify;
    }
  
    .ftw-sm-100 {
      font-weight: 100;
    }
    
    .ftw-sm-200 {
      font-weight: 200;
    }
    
    .ftw-sm-300 {
      font-weight: 300;
    }
    
    .ftw-sm-400 {
      font-weight: 400;
    }
    
    .ftw-sm-500 {
      font-weight: 500;
    }
    
    .ftw-sm-600 {
      font-weight: 600;
    }
    
    .ftw-sm-700 {
      font-weight: 700;
    }
    
    .ftw-sm-800 {
      font-weight: 800;
    }
    
    .ftw-sm-900 {
      font-weight: 900;
    }
  }
  
  @include md-min {
  
    .text-md-left {
      text-align: left;
    }
  
    .text-md-center {
      text-align: center;
    }
  
    .text-md-right {
      text-align: right;
    }
  
    .text-md-justify {
      text-align: justify;
    }
  
    .ftw-md-100 {
      font-weight: 100;
    }
    
    .ftw-md-200 {
      font-weight: 200;
    }
    
    .ftw-md-300 {
      font-weight: 300;
    }
    
    .ftw-md-400 {
      font-weight: 400;
    }
    
    .ftw-md-500 {
      font-weight: 500;
    }
    
    .ftw-md-600 {
      font-weight: 600;
    }
    
    .ftw-md-700 {
      font-weight: 700;
    }
    
    .ftw-md-800 {
      font-weight: 800;
    }
    
    .ftw-md-900 {
      font-weight: 900;
    }
  }
  
  @include lg-min {
  
    .text-lg-left {
      text-align: left;
    }
  
    .text-lg-center {
      text-align: center;
    }
  
    .text-lg-right {
      text-align: right;
    }
  
    .text-lg-justify {
      text-align: justify;
    }
  
    .ftw-lg-100 {
      font-weight: 100;
    }
    
    .ftw-lg-200 {
      font-weight: 200;
    }
    
    .ftw-lg-300 {
      font-weight: 300;
    }
    
    .ftw-lg-400 {
      font-weight: 400;
    }
    
    .ftw-lg-500 {
      font-weight: 500;
    }
    
    .ftw-lg-600 {
      font-weight: 600;
    }
    
    .ftw-lg-700 {
      font-weight: 700;
    }
    
    .ftw-lg-800 {
      font-weight: 800;
    }
    
    .ftw-lg-900 {
      font-weight: 900;
    }

    .ls-lg-0-225- {
      letter-spacing: -.225px;
    }
  }
  
  @include xl-min {
  
    .text-xl-left {
      text-align: left;
    }
  
    .text-xl-center {
      text-align: center;
    }
  
    .text-xl-right {
      text-align: right;
    }
  
    .text-xl-justify {
      text-align: justify;
    }
  
    .ftw-xl-100 {
      font-weight: 100;
    }
    
    .ftw-xl-200 {
      font-weight: 200;
    }
    
    .ftw-xl-300 {
      font-weight: 300;
    }
    
    .ftw-xl-400 {
      font-weight: 400;
    }
    
    .ftw-xl-500 {
      font-weight: 500;
    }
    
    .ftw-xl-600 {
      font-weight: 600;
    }
    
    .ftw-xl-700 {
      font-weight: 700;
    }
    
    .ftw-xl-800 {
      font-weight: 800;
  }
    
    .ftw-xl-900 {
      font-weight: 900;
    }
  }

.lh-40-px {
  line-height: 40px;
}

.lh-58-px {
  line-height: 58px;
}

.lh-0-8628 {
  line-height: .8628;
}

.lh-1 {
  line-height: 1;
}

.lh-1-1 {
  line-height: 1.1;
}

.lh-1-0911 {
  line-height: 1.0911;
}

.lh-1-2 {
  line-height: 1.2;
}

.lh-1-4091 {
  line-height: 1.4091;
}

.lh-1-25 {
  line-height: 1.25;
}

.lh-1-2955 {
  line-height: 1.2955;
}

.lh-1-4 {
  line-height: 1.4;
}

.lh-1-2308 {
  line-height: 1.2308;
}

.lh-1-1924 {
  line-height: 1.1924;
}

.lh-1-1920 {
  line-height: 1.1920;
}

.lh-1-2084 {
  line-height: 1.2084;
}

.lh-1-125 {
  line-height: 1.125;
}

.lh-1-1875 {
  line-height: 1.1875;
}

.lh-1-2143 {
  line-height: 1.2143;
}

.lh-1-1819 {
  line-height: 1.1819;
}

.lh-1-0834 {
  line-height: 1.0834;
}

.lh-1-2778 {
  line-height: 1.2778;
}

.lh-1-1429 {
    line-height: 1.1429;
}

.lh-1-4286 {
  line-height: 1.4286;
}

.lh-1-2223 {
    line-height: 1.2223;
}

.lh-1-625 {
    line-height: 1.625;
}

.lh-1-2858 {
    line-height: 1.2858;
}

.lh-1-2174 {
    line-height: 1.2174;
}

.lh-1-1667 {
    line-height: 1.1667;
}

.lh-1-2059 {
    line-height: 1.2059;
}

.lh-1-2122 {
    line-height: 1.2122;
}

.lh-1-5455 {
    line-height: 1.5455;
}

.lh-1-3334 {
  line-height: 1.3334;
}

.lh-1-5715 {
  line-height: 1.5715;
}

.lh-1-375 {
  line-height: 1.375;
}

.lh-1-5556 {
  line-height: 1.5556;
}

@include sm-min {
  .lh-sm-1-5455 {
    line-height: 1.5455;
  }
  
  .lh-sm-1-2858 {
    line-height: 1.2858;
  }
  
  .lh-sm-1-2223 {
    line-height: 1.2223;
  }

  .lh-sm-1-625 {
    line-height: 1.625;
  }

  .lh-sm-1-1429 {
    line-height: 1.1429;
  }
  
  .lh-sm-1-35 {
    line-height: 1.35;
  }

  .lh-sm-1-5455 {
      line-height: 1.5455;
  }
}

@include md-min {
  .lh-md-1-2858 {
    line-height: 1.2858;
  }
  
  .lh-md-1-2223 {
    line-height: 1.2223;
  }

  .lh-md-1-625 {
    line-height: 1.625;
  }

  .lh-md-1-1429 {
    line-height: 1.1429;
  }
}

@include lg-min {
  .lh-lg-58-px {
    line-height: 58px;
  }

  .lh-lg-0-8628 {
    line-height: .8628;
  }

  .lh-lg-1 {
    line-height: 1;
  }

  .lh-lg-1-2 {
    line-height: 1.2;
  }

  .lh-lg-1-25 {
    line-height: 1.25;
  }

  .lh-lg-1-2308 {
    line-height: 1.2308;
  }

  .lh-lg-1-1924 {
    line-height: 1.1924;
  }

  .lh-lg-1-1920 {
    line-height: 1.1920;
  }

  .lh-lg-1-2084 {
    line-height: 1.2084;
  }

  .lh-lg-1-125 {
    line-height: 1.125;
  }

  .lh-lg-1-1875 {
    line-height: 1.1875;
  }

  .lh-lg-1-2143 {
    line-height: 1.2143;
  }

  .lh-lg-1-1819 {
    line-height: 1.1819;
  }

  .lh-lg-1-0834 {
    line-height: 1.0834;
  }

  .lh-lg-1-2778 {
    line-height: 1.2778;
  }

  .lh-lg-1-1429 {
      line-height: 1.1429;
  }

  .lh-lg-1-4286 {
    line-height: 1.4286;
  }

  .lh-lg-1-2223 {
      line-height: 1.2223;
  }

  .lh-lg-1-625 {
      line-height: 1.625;
  }

  .lh-lg-1-2858 {
      line-height: 1.2858;
  }

  .lh-lg-1-2174 {
      line-height: 1.2174;
  }

  .lh-lg-1-1667 {
      line-height: 1.1667;
  }

  .lh-lg-1-2059 {
      line-height: 1.2059;
  }

  .lh-lg-1-2122 {
      line-height: 1.2122;
  }

  .lh-lg-1-5455 {
      line-height: 1.5455;
  }

  .lh-lg-1-3334 {
    line-height: 1.3334;
  }

  .lh-lg-1-5715 {
    line-height: 1.5715;
  }

  .lh-lg-1-375 {
    line-height: 1.375;
  }

  .lh-lg-1-5556 {
    line-height: 1.5556;
  }
}