
<div class="p-fix t-0 r-0 b-0 l-0 z-i-9990 over-x-hid over-y-au opc-1 tra-0-3s-ease wb-bw opc-0 vsb-hidd" id="modalInstructions" data-js-modal>
    <div class="p-rel mrt-15 mrb-15 pdl-15 pdr-15 mnh-100-p-30- mrl-au mrr-au  d-flex flex-column align-items-center justify-content-center p-rel z-i-10 mxw-944">
        <div class="p-fix t-0 r-0 b-0 l-0 z-i-1 over-hid tra-0-2s-ease bg-clr-black opc-0-6 jsOverlay"></div>
        <div class="w-100-p pe-au bg-clr-white brtlr-21 brtrr-21 brbrr-21 brblr-21 d-flex flex-column bxshw-primary-3 p-rel z-i-1 over-hid">
            <div class="pdl-50 pdr-50 pdt-30 pdb-15 pdt-lg-34 pdb-lg-25 pdr-lg-100 mrr-lg-50 pdl-lg-54">
                <div class="d-flex align-items-center justify-content-between mrl-15- mrr-15-">
                    <div class="pdl-15 pdr-15 mnw-0 flex-grow-1 flex-shrink-1">
                        <h2 class="fts-20 fts-lg-40 lh-1-2 ftw-700 clr-accent text-center text-sm-left">Получи бесплатную инструкцию ТОП-5 ошибок при выборе кухни</h2>
                    </div>
                </div>
                <button class="btn-reset w-36 h-36 bg-clr-white bg-clr-primary-h clr-accent-h tra-0-2s-ease brtlr-8 brtrr-8 brbrr-8 brblr-8 d-flex justify-content-center align-items-center p-abs r-10 t-20 r-lg-57 t-lg-66 jsModalClose">
                    <span class="d-block pdt-10 pdr-10 pdb-10 pdl-10 mrt-10- mrr-10- mrb-10- mrl-10-">
                        <i class="icon-close fts-20 fts-lg-52"></i>
                    </span>
                </button>
            </div>
            <div class="pdl-20 pdr-20 pdb-30 pdt-15 pdt-lg-30 pdl-lg-54 pdr-lg-54 pdb-lg-54 flex-grow-1 flex-shrink-1 flex-basis-auto">
                <div>
                    <div>
                        <span class="p-abs r-2- b-14- z-i-1- d-none d-lg-block">
                            <img class="d-block" src="./img/modal/book.jpg" alt="phone">
                        </span>
                        <div class="pdt-8 pdb-17 mxw-lg-460 mxw-xl-660">
                            <div>
                                <p class="ftw-700 lh-1-1875 mrb-34 fts-16 text-center text-sm-left">Укажите, куда вам удобнее получить результат?</p>
                                <div class="mrb-32">
                                    <div class="d-flex flex-wrap justify-content-center justify-content-lg-start mrl-17- mrr-17- mrb-20- mrb-lg-34-">
                                        <div class="pdl-17 pdr-17 mrb-20 mrb-lg-34">
                                            <label class="c-poin d-flex flex-column" data-form-control-parent>
                                                <span class="d-flex justify-content-start mnw-0">
                                                    <span class="d-flex flex-column mnw-0">
                                                        <input type="radio" name="get_a_result" value="1" data-switch-control="" data-form-control="">
                                                        <span class="p-rel z-i-1 mnw-0 d-flex justify-content-center align-items-start" data-switch-control-block="">
                                                            <span class="d-block pdt-5 pdr-5 pdb-5 pdl-5 mrt-5- mrr-5- mrb-5- mrl-5- mnw-0">
                                                                <span class="mrl-5- mrr-5- p-rel z-i-1 wb-bw flex-grow-1 d-flex justify-content-center align-items-center">
                                                                    <span class="pdl-5 pdr-5 pdt-1 pdt-lg-0 mnw-0 flex-shrink-0">
                                                                        <span class="d-block clr-accent h-28 w-28 h-lg-50 w-lg-50 brtlr-5 brtrr-5 brbrr-5 brblr-5 p-rel z-i-1 d-flex justify-content-center align-items-center">
                                                                            <span class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 brw-2 brs-sol clr-crc-br brr-inh"></span>
                                                                            <span class="d-block tra-0-2s-ease" data-switch-control-toggle-opc-0="">
                                                                                <i class="icon-check fts-13 fts-lg-19"></i>
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                    <span class="pdl-5 pdr-5 pdt-1 pdt-lg-0 mnw-0 flex-shrink-0">
                                                                        <span class="d-block tra-0-2s-ease fts-lg-20 ftw-400 lh-1-1875" data-form-control-text="">Звонок</span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="pdl-17 pdr-17 mrb-20 mrb-lg-34">
                                            <label class="c-poin d-flex flex-column" data-form-control-parent>
                                                <span class="d-flex justify-content-start mnw-0">
                                                    <span class="d-flex flex-column mnw-0">
                                                        <input type="radio" name="get_a_result" value="1" data-switch-control="" data-form-control="">
                                                        <span class="p-rel z-i-1 mnw-0 d-flex justify-content-center align-items-start" data-switch-control-block="">
                                                            <span class="d-block pdt-5 pdr-5 pdb-5 pdl-5 mrt-5- mrr-5- mrb-5- mrl-5- mnw-0">
                                                                <span class="mrl-5- mrr-5- p-rel z-i-1 wb-bw flex-grow-1 d-flex justify-content-center align-items-center">
                                                                    <span class="pdl-5 pdr-5 pdt-1 pdt-lg-0 mnw-0 flex-shrink-0">
                                                                        <span class="d-block clr-accent h-28 w-28 h-lg-50 w-lg-50 brtlr-5 brtrr-5 brbrr-5 brblr-5 p-rel z-i-1 d-flex justify-content-center align-items-center">
                                                                            <span class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 brw-2 brs-sol clr-crc-br brr-inh"></span>
                                                                            <span class="d-block tra-0-2s-ease" data-switch-control-toggle-opc-0="">
                                                                                <i class="icon-check fts-13 fts-lg-19"></i>
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                    <span class="pdl-5 pdr-5 pdt-1 pdt-lg-0 mnw-0 flex-shrink-0">
                                                                        <span class="d-block tra-0-2s-ease fts-lg-20 ftw-400 lh-1-1875" data-form-control-text="">Telegram</span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="pdl-17 pdr-17 mrb-20 mrb-lg-34">
                                            <label class="c-poin d-flex flex-column" data-form-control-parent>
                                                <span class="d-flex justify-content-start mnw-0">
                                                    <span class="d-flex flex-column mnw-0">
                                                        <input type="radio" name="get_a_result" value="1" data-switch-control="" data-form-control="">
                                                        <span class="p-rel z-i-1 mnw-0 d-flex justify-content-center align-items-start" data-switch-control-block="">
                                                            <span class="d-block pdt-5 pdr-5 pdb-5 pdl-5 mrt-5- mrr-5- mrb-5- mrl-5- mnw-0">
                                                                <span class="mrl-5- mrr-5- p-rel z-i-1 wb-bw flex-grow-1 d-flex justify-content-center align-items-center">
                                                                    <span class="pdl-5 pdr-5 pdt-1 pdt-lg-0 mnw-0 flex-shrink-0">
                                                                        <span class="d-block clr-accent h-28 w-28 h-lg-50 w-lg-50 brtlr-5 brtrr-5 brbrr-5 brblr-5 p-rel z-i-1 d-flex justify-content-center align-items-center">
                                                                            <span class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 brw-2 brs-sol clr-crc-br brr-inh"></span>
                                                                            <span class="d-block tra-0-2s-ease" data-switch-control-toggle-opc-0="">
                                                                                <i class="icon-check fts-13 fts-lg-19"></i>
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                    <span class="pdl-5 pdr-5 pdt-1 pdt-lg-0 mnw-0 flex-shrink-0">
                                                                        <span class="d-block tra-0-2s-ease fts-lg-20 ftw-400 lh-1-1875" data-form-control-text="">WhatsApp</span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="mxw-293 mrl-au mrr-au mrl-lg-0 mrr-lg-0">
                                    <div class="mrb-14">
                                        <div class="p-rel z-i-1">
                                            <label class="c-au d-block">
                                                <input class="d-block mnh-60 br-0 w-100-p pdl-59 pdr-24 br-0 bg-tra brtlr-8 brtrr-8 brbrr-8 brblr-8 clr-black-2 p-rel z-i-10 fts-14 ftw-300 lh-1" type="text" name="tel" placeholder="Введите ваш номер телефона">
                                                <span class="d-block bg-clr-secondary-9 w-100-p h-100-p p-abs l-0 t-0 r-0 b-0 z-i-1- brtlr-8 brtrr-8 brbrr-8 brblr-8 brw-2-f tra-0-2s-ease" data-js-form-control-overlay></span>
                                                <span class="d-flex align-items-center p-abs l-19 t-0 b-0">
                                                    <i class="icon-tel fts-20 clr-secondary-10"></i>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="mrb-19">
                                        <div class="p-rel z-i-1">
                                            <button class="btn btn--default mnh-53 fts-14 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p text-centerd-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" type="button">
                                                <span class="d-flex justify-content-center align-items-center">
                                                    <span class="d-flex justify-content-center align-items-center mrl-9- mrr-9-">
                                                        <span class="pdl-9 pdr-9">
                                                            <span class="d-block fts-13 fts-lg-15 ftw-500 ls-0-225-">Получить результат + Подарок</span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="pdl-5">
                                        <div class="p-rel z-i-1">
                                            <p class="fts-13 ftw-300 lh-1-2308">Нажимая кнопку вы соглашаетесь с  условиями <a class="clr-inh clr-accent-h" href="#">политики конфиденциальности</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>