<div>
    <div class="container">
        <section class="d-block pdt-31 pdt-lg-53 pdb-lg-71">
            <header class="d-none mrb-43 d-none">
                <h2 class="fts-40 lh-1-2 ftw-700 clr-accent">&nbsp;</h2>
            </header>
            <div class="d-block">
                <div class="row mrl-10- mrr-10-">
                    <div class="col-12 col-lg-7 pdl-10 pdr-10">
                        <div class="mnh-100-p p-rel z-i-1 brtlr-12 brtrr-12 brbrr-12 brblr-12 over-hid pdb-76-5-p pdb-lg-0">
                            <iframe class="d-block p-abs l-0 t-0 r-0 b-0 z-i-1 h-100-p w-100-p" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2707.967832384316!2d39.7154604!3d47.2563323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e3b8379dc8d741%3A0x6399032cad73ad69!2z0L_RgC4g0JzQuNGF0LDQuNC70LAg0J3QsNCz0LjQsdC40L3QsCwgMzHQkCwg0KDQvtGB0YLQvtCyLdC90LAt0JTQvtC90YMsINCg0L7RgdGC0L7QstGB0LrQsNGPINC-0LHQuy4sINCg0L7RgdGB0LjRjywgMzQ0MDY4!5e0!3m2!1sru!2sge!4v1693227289702!5m2!1sru!2sge" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5 pdl-10 pdr-10">
                        <div class="pdl-15 pdr-15 pdt-16 pdb-30 pdl-lg-32 pdt-lg-19 pdr-lg-32 pdb-lg-66 brtlr-25 brtrr-25 brbrr-25 brblr-25 bg-clr-black-3 clr-white p-rel z-i-1">
                            <header class="d-block pdl-lg-10 pdr-lg-10 mrb-18 mrb-lg-32 text-center text-lg-left">
                                <h2 class="fts-20 fts-lg-40 lh-1-2 ftw-700">Остались вопросы?</h2>
                            </header>
                            <div class="d-block">
                                <form class="d-block" action="#">
                                    <div class="mrb-9 mrb-sm-22 pdl-lg-10 pdr-lg-10">
                                        <div class="p-rel z-i-1">
                                            <label class="c-au d-block">
                                                <input class="d-block mnh-45 mnh-lg-52 brw-1 brs-sol clr-tra-br w-100-p pdl-13 pdr-13 pdl-lg-22 pdr-lg-22 bg-tra brtlr-6 brtrr-6 brbrr-6 brblr-6 clr-white p-rel z-i-10 fts-12 fts-lg-14 ftw-300 lh-1 plchdr-clr-white" type="tel" name="tel" placeholder="Введите ваш номер телефона">
                                                <span class="d-block w-100-p h-100-p p-abs l-0 t-0 r-0 b-0 z-i-1- brtlr-6 brtrr-6 brbrr-6 brblr-6 brw-1 brs-sol clr-white-br tra-0-2s-ease" data-js-form-control-overlay=""></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="mrb-9 mrb-sm-22 pdl-lg-10 pdr-lg-10">
                                        <div class="p-rel z-i-1">
                                            <label class="c-au d-block">
                                                <textarea class="d-block mnh-74 mnh-lg-113 brw-1 brs-sol clr-tra-br w-100-p pdl-13 pdr-13 pdt-6 pdb-6 pdl-lg-22 pdr-lg-22 pdt-lg-14 pdb-lg-14 bg-tra brtlr-6 brtrr-6 brbrr-6 brblr-6 clr-white p-rel z-i-10 fts-12 fts-lg-14 ftw-300 lh-1-25 rsz-none plchdr-clr-white" name="tel" placeholder="Задать вопрос"></textarea>
                                                <span class="d-block w-100-p h-100-p p-abs l-0 t-0 r-0 b-0 z-i-1- brtlr-6 brtrr-6 brbrr-6 brblr-6 brw-1 brs-sol clr-white-br tra-0-2s-ease" data-js-form-control-overlay=""></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="pdt-8 pdt-lg-14 pdl-lg-10">
                                        <div class="mrl-5- mrr-5- mrl-lg-8- mrr-lg-8- d-flex flex-lg-column flex-xl-row">
                                            <div class="pdl-5 pdr-5 pdl-lg-8 pdr-lg-8">
                                                <div class="p-rel z-i-1">
                                                    <button class="btn btn--primary mnh-35 mnh-lg-53 mnw-119 mnw-lg-193 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" type="submit">
                                                        <span class="d-flex justify-content-center align-items-center">
                                                            <span class="d-flex justify-content-center align-items-center mrl-9- mrr-9-">
                                                                <span class="pdl-9 pdr-9">
                                                                    <span class="d-block fts-11 fts-lg-16 ftw-500 ls-0-165- ls-lg-0-24-">Задать вопрос</span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="pdl-5 pdr-5 pdl-lg-8 pdr-lg-8 align-self-center align-self-lg-start">
                                                <div class="p-rel z-i-1 pdt-1 pdt-lg-8">
                                                    <p class="fts-8 fts-lg-12 ftw-300 lh-1-25">Нажимая кнопку “Задать вопрос” вы соглашаетесь с условиями обработки <a href="#"> персональных данных</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>