<div>
    <div class="container">
        <section class="d-block pdt-73 pdb-10 pdb-lg-53 pdt-lg-40">
            <header class="d-block mrb-32 mrb-lg-38 text-center text-lg-left">
                <h2 class="fts-20 fts-lg-40 lh-1-2 ftw-700 clr-accent">Наши преимущества</h2>
            </header>
            <div class="d-block">
                <ul class="list-reset row mrl-10- mrr-10- mrb-25-">
                    <li class="col-12 col-sm-6 col-lg-4 pdl-10 pdr-10 mnh-lg-285 mrb-15 mrb-lg-25">
                        <div class="pdl-16 pdt-34 pdr-16 pdb-34 pdl-lg-27 pdt-lg-27 pdr-lg-27 pdb-lg-27 brtlr-13 brtrr-13 brbrr-13 brblr-13 bg-clr-white clr-black-2 mnh-100-p">
                            <span class="d-block fts-20 fts-lg-40 lh-1-2 ftw-700 clr-accent opc-0-5 p-abs r-30 t-12 z-i-1">01</span>
                             <h4 class="fts-20 fts-lg-24 lh-1-2 ftw-700 mrb-7 mrb-lg-31 pdr-lg-70">Без посредников</h4>
                             <p class="ftw-500">Вы заказываете кухню<br class="d-none d-xl-block"> напрямую у<br class="d-none d-xl-block"> производителя</p>
                        </div>
                    </li>
                    <li class="col-12 col-sm-6 col-lg-4 pdl-10 pdr-10 mnh-lg-285 mrb-15 mrb-lg-25">
                        <div class="pdl-16 pdt-34 pdr-16 pdb-34 pdl-lg-27 pdt-lg-27 pdr-lg-27 pdb-lg-27 brtlr-13 brtrr-13 brbrr-13 brblr-13 bg-clr-white clr-black-2 mnh-100-p p-rel">
                            <span class="d-block fts-20 fts-lg-40 lh-1-2 ftw-700 clr-accent opc-0-5 p-abs r-30 t-12 z-i-1">02</span>
                             <h4 class="fts-20 fts-lg-24 lh-1-2 ftw-700 mrb-7 mrb-lg-31 pdr-lg-70">Экономия до 35%</h4>
                             <p class="ftw-500">Обращаясь к нам, вы<br class="d-none d-xl-block"> заказываете кухню напрямую с<br class="d-none d-xl-block"> фабрики, которая находится в<br class="d-none d-xl-block"> Ростове-на-Дону.</p>
                        </div>
                    </li>
                    <li class="col-12 col-sm-6 col-lg-4 pdl-10 pdr-10 mnh-lg-285 mrb-15 mrb-lg-25">
                        <div class="pdl-16 pdt-34 pdr-16 pdb-34 pdl-lg-27 pdt-lg-27 pdr-lg-27 pdb-lg-27 brtlr-13 brtrr-13 brbrr-13 brblr-13 bg-clr-white clr-black-2 mnh-100-p p-rel">
                            <span class="d-block fts-20 fts-lg-40 lh-1-2 ftw-700 clr-accent opc-0-5 p-abs r-30 t-12 z-i-1">03</span>
                             <h4 class="fts-20 fts-lg-24 lh-1-2 ftw-700 mrb-7 mrb-lg-31 pdr-lg-70">Высокое качество материалов и фурнитуры</h4>
                             <p class="ftw-500">Все материалы, приезжающие<br class="d-none d-xl-block"> к нам на производство в<br class="d-none d-xl-block"> обязательном порядке<br class="d-none d-xl-block"> сертифицированы.</p>
                        </div>
                    </li>
                    <li class="col-12 col-sm-6 col-lg-4 pdl-10 pdr-10 mnh-lg-285 mrb-15 mrb-lg-25">
                        <div class="pdl-16 pdt-34 pdr-16 pdb-34 pdl-lg-27 pdt-lg-27 pdr-lg-27 pdb-lg-27 brtlr-13 brtrr-13 brbrr-13 brblr-13 bg-clr-white clr-black-2 mnh-100-p p-rel">
                            <span class="d-block fts-20 fts-lg-40 lh-1-2 ftw-700 clr-accent opc-0-5 p-abs r-30 t-12 z-i-1">04</span>
                             <h4 class="fts-20 fts-lg-24 lh-1-2 ftw-700 mrb-7 mrb-lg-31 pdr-lg-70">Современное оборудование</h4>
                             <p class="ftw-500">Используем оборудование ведущих производителей, которое позволяем уменьшить сроки производства и снизить стоимость Вашей кухни</p>
                        </div>
                    </li>
                    <li class="col-12 col-sm-6 col-lg-4 pdl-10 pdr-10 mnh-lg-285 mrb-15 mrb-lg-25">
                        <div class="pdl-16 pdt-34 pdr-16 pdb-34 pdl-lg-27 pdt-lg-27 pdr-lg-27 pdb-lg-27 brtlr-13 brtrr-13 brbrr-13 brblr-13 bg-clr-white clr-black-2 mnh-100-p p-rel">
                            <span class="d-block fts-20 fts-lg-40 lh-1-2 ftw-700 clr-accent opc-0-5 p-abs r-30 t-12 z-i-1">05</span>
                             <h4 class="fts-20 fts-lg-24 lh-1-2 ftw-700 mrb-7 mrb-lg-31 pdr-lg-70">Более 150 вариантов расцветок</h4>
                             <p class="ftw-500">На складе в Ростове-на-Дону в наличии<br class="d-none d-xl-block"> большой выбор материалов различных<br class="d-none d-xl-block"> цветов и фактур</p>
                        </div>
                    </li>
                    <li class="col-12 col-sm-6 col-lg-4 pdl-10 pdr-10 mnh-lg-285 mrb-15 mrb-lg-25">
                        <div class="pdl-16 pdt-34 pdr-16 pdb-34 pdl-lg-27 pdt-lg-27 pdr-lg-27 pdb-lg-27 brtlr-13 brtrr-13 brbrr-13 brblr-13 bg-clr-white clr-black-2 mnh-100-p p-rel">
                            <span class="d-block fts-20 fts-lg-40 lh-1-2 ftw-700 clr-accent opc-0-5 p-abs r-30 t-12 z-i-1">06</span>
                             <h4 class="fts-20 fts-lg-24 lh-1-2 ftw-700 mrb-7 mrb-lg-31 pdr-lg-70">Гарантия 2 года</h4>
                             <p class="ftw-500">На все кухни компании<br class="d-none d-xl-block"> "Мебель СВС"<br class="d-none d-xl-block"> предоставляется гарантия от<br class="d-none d-xl-block"> производителя</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>