<div>
    <div class="container">
        <div class="pdl-lg-100 mrl-lg-100">
            <div class="pdl-lg-30 pdl-xl-100 mrl-xl-10 text-center text-lg-left">
                <div class="pdl-lg-100 mrl-lg-100">
                    <section class="d-block pdt-35 pdt-lg-97 mrl-au pdb-lg-100 p-rel z-i-1">
                        <header class="d-block pdb-24 pdb-lg-57">
                            <h2 class="fts-20 fts-lg-52 lh-1-2 lh-lg-1-1924 ftw-700 clr-accent">Хотите узнать точную стоимость кухни прямо сейчас?</h2>
                        </header>
                        <div class="d-block p-rel z-i-1 pdb-34 pdb-lg-72">
                            <div class="d-flex flex-column align-items-center align-items-lg-start">
                                <div class="mrb-3 mrb-lg-35 mxw-lg-484">
                                    <div class="ftw-300">
                                        <p class="mrb-14 mrb-lg-19">Пришлите нам размеры на WhatsApp или Telegram</p>
                                        <p class="mrb-14 mrb-lg-19">Если у вас уже есть проект - пришлите нам, мы его посчитаем</p>
                                        <p class="mrb-14 mrb-lg-19">В переписке дизайнер задаст пару вопросов и по ним мы скажем 3 варианта стоимости</p>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <div class="mrb-14 mrb-lg-21">
                                        <a class="btn btn--primary mnh-53 mnw-193 ftw-500 pdl-35 pdr-35 pdt-5 pdb-5 w-100-p d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6 jsModalTrigger" href="#modalInstructions">
                                            <span class="d-flex justify-content-center align-items-center">
                                                <span class="d-flex justify-content-center align-items-center mrl-9- mrr-9-">
                                                    <span class="pdl-9 pdr-9">
                                                        <span class="d-block fts-12 fts-lg-16 ftw-500 ls-0-24-">Узнать стоимость в WhatsApp</span>
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="mrb-14 mrb-lg-22">
                                        <span class="d-block ftw-300 fts-16">или через</span>
                                    </div>
                                    <div class="d-flex justify-content-center mrl-5- mrr-5-">
                                        <div class="pdl-5 pdr-5">
                                            <a href="#" class="d-block clr-secondary-2 clr-accent-h">
                                                <span class="d-flex align-items-center mrl-4- mrr-4-">
                                                    <span class="pdl-4 pdr-4">
                                                        <span class="h-38 w-38 brr-50-p brw-1 brs-sol clr-inh-br d-flex justify-content-center align-items-center">
                                                            <i class="icon-telegram clr-inh p-rel l-2- t-1 fts-28"></i>
                                                        </span>
                                                    </span>
                                                    <span class="pdl-5 pdr-4">
                                                        <span class="d-block fts-12 ftw-500 lh-1-1667">Telegram</span>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-block p-rel z-i-1 p-lg-sta mxw-272 mrl-au mrr-au mrl-lg-0 mrr-lg-0">
                            <img class="d-block p-lg-abs r-100-p mrr-lg-81 b-0 z-i-100" src="./img/global/phone.png" alt="phone">
                            <span class="d-block p-abs b-100 l-18 d-lg-none">
                                <a class="btn btn--primary mnh-50 mnw-193 ftw-500 pdl-35 pdr-35 pdt-5 pdb-5 d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" href="#">
                                    <span class="d-flex justify-content-center align-items-center">
                                        <span class="d-flex justify-content-center align-items-center mrl-9- mrr-9-">
                                            <span class="pdl-9 pdr-9">
                                                <span class="d-block fts-12 fts-lg-16 ftw-500 ls-0-24-">Оставить заявку</span>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </span>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>