<div class="over-hid">
    <div class="container">
        <section class="d-block pdt-49 pdt-lg-100 pdb-lg-87">
            <header class="d-block pdt-lg-52 mrb-53 mrb-lg-65 text-center text-lg-left">
                <h2 class="fts-20 fts-lg-52 lh-1-2 lh-lg-1-1920 ftw-700 clr-accent">Схема работы </h2>
            </header>
            <div class="d-block">
                <ul class="list-reset row mrl-10- mrr-10- mrb-lg-52-">
                    <li class="col-12 col-sm-6 col-lg-3 pdl-10 pdr-10 mnw-0 mrb-18 mrb-lg-52">
                        <div class="mnh-100-p pdt-lg-31 p-rel z-i-1 d-flex flex-column">
                            <!-- для первого элеиента будет этот блок, также и у последнего у остальных не будет, также меняеися позиция у иконок добавляются классы <i class="icon-work-${}"></i> -->
                            <span class="p-abs l-0 t-13 br-0 brtw-1 brs-sol clr-black-br w-100-vw d-none d-lg-block"></span>
                            <span class="d-none d-lg-block p-abs l-50-p t-trX-50-p- t-3 z-i-10">
                                <span class="d-block h-21 w-21 brr-50-p bg-clr-secondary-6"></span>
                            </span>
                            <span class="d-none d-lg-block p-abs t-0 r-25- z-i-1">
                                <i class="icon-arrow-right fts-27 clr-black"></i>
                            </span>
                            <div class="pdl-100 pdr-20 pdt-31 pdb-31 pdl-lg-10 pdt-lg-11 pdr-lg-10 pdb-lg-85 brtlr-50 brtlr-lg-20 brtrr-20 brbrr-20 brblr-50 brblr-lg-20 bg-clr-secondary-4 clr-secondary-5 mnh-92 mnh-lg-100-p text-lg-center mnw-0 p-rel z-i-1 flex-grow-1 mnh-92 mnh-lg-au d-flex align-items-center d-lg-block">
                                <p class="ftw-700 fts-12 fts-lg-18 lh-1-25 lh-lg-1-2778 pdl-9 pdl-lg-0">Обращение в компанию, встреча с дизайнером</p>
                                <span class="d-block p-abs l-0 t-2- t-lg-au l-lg-50-p t-trX-lg-50-p b-lg-22-">
                                    <span class="w-96 h-96 brr-50-p bg-clr-white clr-accent fltr-ds-primary d-flex justify-content-center align-items-center">
                                        <span>
                                            <i class="icon-work-icon-1 fts-64"></i>
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="col-12 col-sm-6 col-lg-3 pdl-10 pdr-10 mnw-0 mrb-18 mrb-lg-52">
                        <div class="mnh-100-p pdt-lg-35 p-rel w-100-p d-flex flex-column">
                            <span class="d-none d-lg-block p-abs l-50-p t-trX-50-p- t-3 z-i-10">
                                <span class="d-block h-21 w-21 brr-50-p bg-clr-secondary-6"></span>
                            </span>
                            <span class="d-none d-lg-block p-abs t-0 r-25- z-i-1">
                                <i class="icon-arrow-right fts-27 clr-black"></i>
                            </span>
                            <div class="pdl-100 pdr-20 pdt-31 pdb-31 pdl-lg-10 pdt-lg-11 pdr-lg-10 pdb-lg-85 brtlr-50 brtlr-lg-20 brtrr-20 brbrr-20 brblr-50 brblr-lg-20 bg-clr-secondary-4 clr-secondary-5 mnh-92 mnh-lg-100-p text-lg-center mnw-0 p-rel z-i-1 flex-grow-1 mnh-92 mnh-lg-au d-flex align-items-center d-lg-block">
                                <p class="ftw-700 fts-12 fts-lg-18 lh-1-25 lh-lg-1-2778 pdl-9 pdl-lg-0">Выезд на замер специалиста</p>
                                <span class="d-block p-abs l-0 t-2- t-lg-au l-lg-50-p t-trX-lg-50-p b-lg-22-">
                                    <span class="w-96 h-96 brr-50-p bg-clr-white clr-accent fltr-ds-primary d-flex justify-content-center align-items-center">
                                        <span>
                                            <i class="icon-work-icon-2 fts-62 p-rel t-5- l-2"></i>
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="col-12 col-sm-6 col-lg-3 pdl-10 pdr-10 mnw-0 mrb-18 mrb-lg-52">
                        <div class="mnh-100-p pdt-lg-35 p-rel w-100-p d-flex flex-column">
                            <span class="d-none d-lg-block p-abs l-50-p t-trX-50-p- t-3 z-i-10">
                                <span class="d-block h-21 w-21 brr-50-p bg-clr-secondary-6"></span>
                            </span>
                            <span class="d-none d-lg-block p-abs t-0 r-25- z-i-1">
                                <i class="icon-arrow-right fts-27 clr-black"></i>
                            </span>
                            <div class="pdl-100 pdr-20 pdt-31 pdb-31 pdl-lg-10 pdt-lg-11 pdr-lg-10 pdb-lg-85 brtlr-50 brtlr-lg-20 brtrr-20 brbrr-20 brblr-50 brblr-lg-20 bg-clr-secondary-4 clr-secondary-5 mnh-92 mnh-lg-100-p text-lg-center mnw-0 p-rel z-i-1 flex-grow-1 mnh-92 mnh-lg-au d-flex align-items-center d-lg-block">
                                <p class="ftw-700 fts-12 fts-lg-18 lh-1-25 lh-lg-1-2778 pdl-9 pdl-lg-0">Проработка и согласование дизайн-проекта</p>
                                <span class="d-block p-abs l-0 t-2- t-lg-au l-lg-50-p t-trX-lg-50-p b-lg-22-">
                                    <span class="w-96 h-96 brr-50-p bg-clr-white clr-accent fltr-ds-primary d-flex justify-content-center align-items-center">
                                        <span>
                                            <i class="icon-work-icon-3 fts-64"></i>
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="col-12 col-sm-6 col-lg-3 pdl-10 pdr-10 mnw-0 mrb-18 mrb-lg-52">
                        <div class="mnh-100-p pdt-lg-35 p-rel w-100-p d-flex flex-column">
                            <span class="d-none d-lg-block p-abs l-50-p t-trX-50-p- t-3 z-i-10">
                                <span class="d-block h-21 w-21 brr-50-p bg-clr-secondary-6"></span>
                            </span>
                            <!-- если 4 элемент убираем или меняем d-block на d-none -->
                            <span class="d-none p-abs t-0 r-25- z-i-1">
                                <i class="icon-arrow-right fts-27 clr-black"></i>
                            </span>
                            <div class="pdl-100 pdr-20 pdt-31 pdb-31 pdl-lg-10 pdt-lg-11 pdr-lg-10 pdb-lg-85 brtlr-50 brtlr-lg-20 brtrr-20 brbrr-20 brblr-50 brblr-lg-20 bg-clr-secondary-4 clr-secondary-5 mnh-92 mnh-lg-100-p text-lg-center mnw-0 p-rel z-i-1 flex-grow-1 mnh-92 mnh-lg-au d-flex align-items-center d-lg-block">
                                <p class="ftw-700 fts-12 fts-lg-18 lh-1-25 lh-lg-1-2778 pdl-9 pdl-lg-0">Заключение договора, предоплата</p>
                                <span class="d-block p-abs l-0 t-2- t-lg-au l-lg-50-p t-trX-lg-50-p b-lg-22-">
                                    <span class="w-96 h-96 brr-50-p bg-clr-white clr-accent fltr-ds-primary d-flex justify-content-center align-items-center">
                                        <span>
                                            <i class="icon-work-icon-4 fts-58 p-rel l-9 t-3"></i>
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <!-- здесь чуть друга структура, отличается icon-arrow-left классом -->
                    <li class="col-12 col-sm-6 col-lg-3 pdl-10 pdr-10 mnw-0 mrb-18 mrb-lg-52">
                        <div class="mnh-100-p pdt-lg-31 p-rel z-i-1 d-flex flex-column">
                            <span class="d-none d-lg-block p-abs l-50-p t-trX-50-p- t-3 z-i-10">
                                <span class="d-block h-21 w-21 brr-50-p bg-clr-secondary-6"></span>
                            </span>
                            <span class="d-none d-lg-block p-abs t-0 r-25- z-i-1">
                                <i class="icon-arrow-left fts-27 clr-black"></i>
                            </span>
                            <div class="pdl-100 pdr-20 pdt-31 pdb-31 pdl-lg-10 pdt-lg-11 pdr-lg-10 pdb-lg-85 brtlr-50 brtlr-lg-20 brtrr-20 brbrr-20 brblr-50 brblr-lg-20 bg-clr-secondary-4 clr-secondary-5 mnh-92 mnh-lg-100-p text-lg-center mnw-0 p-rel z-i-1 flex-grow-1 mnh-92 mnh-lg-au d-flex align-items-center d-lg-block">
                                <p class="ftw-700 fts-12 fts-lg-18 lh-1-25 lh-lg-1-2778 pdl-9 pdl-lg-0">Сборка в день доставки</p>
                                <span class="d-block p-abs l-0 t-2- t-lg-au l-lg-50-p t-trX-lg-50-p b-lg-22-">
                                    <span class="w-96 h-96 brr-50-p bg-clr-white clr-accent fltr-ds-primary d-flex justify-content-center align-items-center">
                                        <span>
                                            <i class="icon-work-icon-5 fts-55"></i>
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="col-12 col-sm-6 col-lg-3 pdl-10 pdr-10 mnw-0 mrb-18 mrb-lg-52">
                        <div class="mnh-100-p pdt-lg-35 p-rel w-100-p d-flex flex-column">
                            <span class="d-none d-lg-block p-abs l-50-p t-trX-50-p- t-3 z-i-10">
                                <span class="d-block h-21 w-21 brr-50-p bg-clr-secondary-6"></span>
                            </span>
                            <span class="d-none d-lg-block p-abs t-0 r-25- z-i-1">
                                <i class="icon-arrow-left fts-27 clr-black"></i>
                            </span>
                            <div class="pdl-100 pdr-20 pdt-31 pdb-31 pdl-lg-10 pdt-lg-11 pdr-lg-10 pdb-lg-85 brtlr-50 brtlr-lg-20 brtrr-20 brbrr-20 brblr-50 brblr-lg-20 bg-clr-secondary-4 clr-secondary-5 mnh-92 mnh-lg-100-p text-lg-center mnw-0 p-rel z-i-1 flex-grow-1 mnh-92 mnh-lg-au d-flex align-items-center d-lg-block">
                                <p class="ftw-700 fts-12 fts-lg-18 lh-1-25 lh-lg-1-2778 pdl-9 pdl-lg-0">Доставка в согласованный день</p>
                                <span class="d-block p-abs l-0 t-2- t-lg-au l-lg-50-p t-trX-lg-50-p b-lg-22-">
                                    <span class="w-96 h-96 brr-50-p bg-clr-white clr-accent fltr-ds-primary d-flex justify-content-center align-items-center">
                                        <span>
                                            <i class="icon-work-icon-6 fts-71 p-rel t-3- l-1-"></i>
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="col-12 col-sm-6 col-lg-3 pdl-10 pdr-10 mnw-0 mrb-18 mrb-lg-52">
                        <div class="mnh-100-p pdt-lg-35 p-rel w-100-p d-flex flex-column">
                            <span class="d-none d-lg-block p-abs l-50-p t-trX-50-p- t-3 z-i-10">
                                <span class="d-block h-21 w-21 brr-50-p bg-clr-secondary-6"></span>
                            </span>
                            <span class="d-none d-lg-block p-abs t-0 r-25- z-i-1">
                                <i class="icon-arrow-left fts-27 clr-black"></i>
                            </span>
                            <div class="pdl-100 pdr-20 pdt-31 pdb-31 pdl-lg-10 pdt-lg-11 pdr-lg-10 pdb-lg-85 brtlr-50 brtlr-lg-20 brtrr-20 brbrr-20 brblr-50 brblr-lg-20 bg-clr-secondary-4 clr-secondary-5 mnh-92 mnh-lg-100-p text-lg-center mnw-0 p-rel z-i-1 flex-grow-1 mnh-92 mnh-lg-au d-flex align-items-center d-lg-block">
                                <p class="ftw-700 fts-12 fts-lg-18 lh-1-25 lh-lg-1-2778 pdl-9 pdl-lg-0">Окончательный 
                                    расчет</p>
                                <span class="d-block p-abs l-0 t-2- t-lg-au l-lg-50-p t-trX-lg-50-p b-lg-22-">
                                    <span class="w-96 h-96 brr-50-p bg-clr-white clr-accent fltr-ds-primary d-flex justify-content-center align-items-center">
                                        <span>
                                            <i class="icon-work-icon-7 fts-58"></i>
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="col-12 col-sm-6 col-lg-3 pdl-10 pdr-10 mnw-0 mrb-18 mrb-lg-52">
                        <div class="mnh-100-p pdt-lg-35 p-rel w-100-p d-flex flex-column">
                            <!-- для последнего элеиента будет этот блок, также и у первого у остальных не будет -->
                            <span class="p-abs r-0 t-13 br-0 brtw-1 brs-sol clr-black-br w-100-vw d-none d-lg-block"></span>
                            <span class="d-none d-lg-block p-abs l-50-p t-trX-50-p- t-3 z-i-10">
                                <span class="d-block h-21 w-21 brr-50-p bg-clr-secondary-6"></span>
                            </span>
                            <!-- если 4 элемент убираем или меняем d-block на d-none -->
                            <span class="d-none p-abs t-0 r-25- z-i-1">
                                <i class="icon-arrow-left fts-27 clr-black"></i>
                            </span>
                            <div class="pdl-100 pdr-20 pdt-31 pdb-31 pdl-lg-10 pdt-lg-11 pdr-lg-10 pdb-lg-85 brtlr-50 brtlr-lg-20 brtrr-20 brbrr-20 brblr-50 brblr-lg-20 bg-clr-secondary-4 clr-secondary-5 mnh-92 mnh-lg-100-p text-lg-center mnw-0 p-rel z-i-1 flex-grow-1 mnh-92 mnh-lg-au d-flex align-items-center d-lg-block">
                                <p class="ftw-700 fts-12 fts-lg-18 lh-1-25 lh-lg-1-2778 pdl-9 pdl-lg-0">Изготовление заказа от 30 до 45 дней</p>
                                <span class="d-block p-abs l-0 t-2- t-lg-au l-lg-50-p t-trX-lg-50-p b-lg-22-">
                                    <span class="w-96 h-96 brr-50-p bg-clr-white clr-accent fltr-ds-primary d-flex justify-content-center align-items-center">
                                        <span>
                                            <i class="icon-work-icon-8 fts-57 p-rel t-1 l-4"></i>
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section> 
    </div>
</div>