<div>
    <div class="container">
        <section class="d-block pdt-24 pdb-32 pdt-lg-68 pdb-lg-53">
            <header class="d-block mrb-57 text-center text-lg-left">
                <h2 class="fts-20 fts-lg-40 lh-1-2 ftw-700 clr-accent">За 20 лет работы мы произвели более<br> 10000 кухонь по индивидуальным размерам</h2>
            </header>
            <div class="d-block">
                <ul class="list-reset row mrl-10- mrr-10- mrb-13- mrb-lg-23-">
                    <!-- В адаптивной верстке один большой элемент справа отличается версткой -->
                    <li class="col-12 col-lg-6 pdl-10 pdr-10">
                        <div class="row mrl-10- mrr-10-">
                            <div class="col-12 col-sm-6 pdl-10 pdr-10 mrb-13 mrb-lg-23">
                                <div class="d-block clr-black-2 mnh-100-p p-rel z-i-1 pdb-83-51-p pdb-lg-123-51-p" data-hover-parent>
                                    <span class="p-abs t-0 r-0 b-0 l-0 z-i-1 h-100-p w-100-p">
                                        <img class="w-100-p h-100-p d-block objf-cv brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-cuisine/kitchen-picture-1.jpg" alt="1">
                                    </span>
                                    <span class="d-block p-abs r-0 b-0 l-0 z-i-2 h-46-p w-100-p bg-lngr-primary brbrr-12 brblr-12"></span>
                                    <span class="p-abs t-0 r-0 b-0 l-0 z-i-3 h-100-p w-100-p d-flex flex-column align-items-start pdt-11 pdr-14 pdb-14 pdl-14">
                                        <span class="flex-grow-1">
                                            <span class="d-block brw-1 brs-dash clr-black-br pdt-5 pdr-6 pdb-5 pdl-6 brtlr-6 brtrr-6 brbrr-6 brblr-6 bckdrp-fltr-blr-40-5">
                                                <span class="d-flex flex-column justify-content-center align-items-start">
                                                    <span class="mnw-0">
                                                        <span class="mrl-1- mrr-1- d-flex align-items-center">
                                                            <span class="pdl-1 pdr-1 mnw-0">
                                                                <i class="icon-full fts-18"></i>
                                                            </span>
                                                            <span class="pdl-1 pdr-1 mnw-0">
                                                                <span class="d-block fts-14 ftw-500 ls-0-21-">3,7 х 1,0 м</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                        <span class="pdb-11 pdb-lg-24 d-flex flex-column align-items-start">
                                            <span class="d-block fts-18 lh-1-2223 ftw-700 mnh-lg-44 mnh-xl-39 mrb-14 clr-white mxw-180">Кухня ПВХ</span>
                                            <span class="btn btn--primary btn--xxsm fts-14 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p w-xsm-au d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6">
                                                <span class="d-flex justify-content-center align-items-center">
                                                    <span class="d-flex justify-content-center align-items-center mrl-8- mrr-8-">
                                                        <span class="pdl-8 pdr-8 text-center">
                                                            Узнать стоимость
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="d-block p-abs r-0 b-0 l-0 z-i-100 h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12 clr-white bg-lngr-primary-2 opc-0 vsb-hidd tra-0-3s-ease" data-hover-child-show>
                                        <span class="h-100-p w-100-p d-flex flex-column align-items-center justify-content-center pdt-10 pdr-10 pdb-10 pdl-10 text-center" href="#">
                                            <span class="d-block pdt-8 pdb-8">
                                                <a class="d-block clr-tertiary-h text-center" href="#">
                                                    <span class="d-block pdt-3 pdb-3">
                                                        <img class="d-block mrl-au mrr-au w-150 w-sm-80 w-lg-140 w-xl-158" src="./img/svg/plus-3.svg" alt="plus">
                                                    </span>
                                                    <span class="d-block pdt-3 pdb-3">
                                                        <span class="d-block fts-13 fts-lg-14 ftw-300 lh-1-2858 ls-0-21-">Быстрый просмотр</span>
                                                    </span>
                                                </a>
                                            </span>
                                            <span class="d-block pdt-8 pdb-8">
                                                <a class="btn btn--primary btn--xxsm fts-14 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p w-xsm-au d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" href="#">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                        <span class="d-flex justify-content-center align-items-center mrl-8- mrr-8-">
                                                            <span class="pdl-8 pdr-8 text-center">
                                                                Узнать стоимость
                                                            </span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 pdl-10 pdr-10 mrb-13 mrb-lg-23">
                                <div class="d-block clr-black-2 mnh-100-p p-rel z-i-1 pdb-83-51-p pdb-lg-123-51-p" data-hover-parent>
                                    <span class="p-abs t-0 r-0 b-0 l-0 z-i-1 h-100-p w-100-p">
                                        <img class="w-100-p h-100-p d-block objf-cv brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-cuisine/kitchen-picture-2.jpg" alt="1">
                                    </span>
                                    <span class="d-block p-abs r-0 b-0 l-0 z-i-2 h-46-p w-100-p bg-lngr-primary brbrr-12 brblr-12"></span>
                                    <span class="p-abs t-0 r-0 b-0 l-0 z-i-3 h-100-p w-100-p d-flex flex-column align-items-start pdt-11 pdr-14 pdb-14 pdl-14">
                                        <span class="flex-grow-1">
                                            <span class="d-block brw-1 brs-dash clr-black-br pdt-5 pdr-6 pdb-5 pdl-6 brtlr-6 brtrr-6 brbrr-6 brblr-6 bckdrp-fltr-blr-40-5">
                                                <span class="d-flex flex-column justify-content-center align-items-start">
                                                    <span class="mnw-0">
                                                        <span class="mrl-1- mrr-1- d-flex align-items-center">
                                                            <span class="pdl-1 pdr-1 mnw-0">
                                                                <i class="icon-full fts-18"></i>
                                                            </span>
                                                            <span class="pdl-1 pdr-1 mnw-0">
                                                                <span class="d-block fts-14 ftw-500 ls-0-21-">3,7 х 1,0 м</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                        <span class="pdb-11 pdb-lg-24 d-flex flex-column align-items-start">
                                            <span class="d-block fts-18 lh-1-2223 ftw-700 mnh-lg-44 mnh-xl-39 mrb-14 clr-white mxw-180">Кухня ПВХ</span>
                                            <span class="btn btn--primary btn--xxsm fts-14 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p w-xsm-au d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6">
                                                <span class="d-flex justify-content-center align-items-center">
                                                    <span class="d-flex justify-content-center align-items-center mrl-8- mrr-8-">
                                                        <span class="pdl-8 pdr-8 text-center">
                                                            Узнать стоимость
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="d-block p-abs r-0 b-0 l-0 z-i-100 h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12 clr-white bg-lngr-primary-2 opc-0 vsb-hidd tra-0-3s-ease" data-hover-child-show>
                                        <span class="h-100-p w-100-p d-flex flex-column align-items-center justify-content-center pdt-10 pdr-10 pdb-10 pdl-10 text-center" href="#">
                                            <span class="d-block pdt-8 pdb-8">
                                                <a class="d-block clr-tertiary-h text-center" href="#">
                                                    <span class="d-block pdt-3 pdb-3">
                                                        <img class="d-block mrl-au mrr-au w-150 w-sm-80 w-lg-140 w-xl-158" src="./img/svg/plus-3.svg" alt="plus">
                                                    </span>
                                                    <span class="d-block pdt-3 pdb-3">
                                                        <span class="d-block fts-13 fts-lg-14 ftw-300 lh-1-2858 ls-0-21-">Быстрый просмотр</span>
                                                    </span>
                                                </a>
                                            </span>
                                            <span class="d-block pdt-8 pdb-8">
                                                <a class="btn btn--primary btn--xxsm fts-14 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p w-xsm-au d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" href="#">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                        <span class="d-flex justify-content-center align-items-center mrl-8- mrr-8-">
                                                            <span class="pdl-8 pdr-8 text-center">
                                                                Узнать стоимость
                                                            </span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 pdl-10 pdr-10 mrb-13 mrb-lg-23">
                                <div class="d-block clr-black-2 mnh-100-p p-rel z-i-1 pdb-83-51-p pdb-lg-123-51-p" data-hover-parent>
                                    <span class="p-abs t-0 r-0 b-0 l-0 z-i-1 h-100-p w-100-p">
                                        <img class="w-100-p h-100-p d-block objf-cv brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-cuisine/kitchen-picture-3.jpg" alt="1">
                                    </span>
                                    <span class="d-block p-abs r-0 b-0 l-0 z-i-2 h-46-p w-100-p bg-lngr-primary brbrr-12 brblr-12"></span>
                                    <span class="p-abs t-0 r-0 b-0 l-0 z-i-3 h-100-p w-100-p d-flex flex-column align-items-start pdt-11 pdr-14 pdb-14 pdl-14">
                                        <span class="flex-grow-1">
                                            <span class="d-block brw-1 brs-dash clr-black-br pdt-5 pdr-6 pdb-5 pdl-6 brtlr-6 brtrr-6 brbrr-6 brblr-6 bckdrp-fltr-blr-40-5">
                                                <span class="d-flex flex-column justify-content-center align-items-start">
                                                    <span class="mnw-0">
                                                        <span class="mrl-1- mrr-1- d-flex align-items-center">
                                                            <span class="pdl-1 pdr-1 mnw-0">
                                                                <i class="icon-full fts-18"></i>
                                                            </span>
                                                            <span class="pdl-1 pdr-1 mnw-0">
                                                                <span class="d-block fts-14 ftw-500 ls-0-21-">3,7 х 1,0 м</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                        <span class="pdb-11 pdb-lg-24 d-flex flex-column align-items-start">
                                            <span class="d-block fts-18 lh-1-2223 ftw-700 mnh-lg-44 mnh-xl-39 mrb-14 clr-white mxw-180">Кухня с фасадами  массив дуба</span>
                                            <span class="btn btn--primary btn--xxsm fts-14 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p w-xsm-au d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6">
                                                <span class="d-flex justify-content-center align-items-center">
                                                    <span class="d-flex justify-content-center align-items-center mrl-8- mrr-8-">
                                                        <span class="pdl-8 pdr-8 text-center">
                                                            Узнать стоимость
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="d-block p-abs r-0 b-0 l-0 z-i-100 h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12 clr-white bg-lngr-primary-2 opc-0 vsb-hidd tra-0-3s-ease" data-hover-child-show>
                                        <span class="h-100-p w-100-p d-flex flex-column align-items-center justify-content-center pdt-10 pdr-10 pdb-10 pdl-10 text-center" href="#">
                                            <span class="d-block pdt-8 pdb-8">
                                                <a class="d-block clr-tertiary-h text-center" href="#">
                                                    <span class="d-block pdt-3 pdb-3">
                                                        <img class="d-block mrl-au mrr-au w-150 w-sm-80 w-lg-140 w-xl-158" src="./img/svg/plus-3.svg" alt="plus">
                                                    </span>
                                                    <span class="d-block pdt-3 pdb-3">
                                                        <span class="d-block fts-13 fts-lg-14 ftw-300 lh-1-2858 ls-0-21-">Быстрый просмотр</span>
                                                    </span>
                                                </a>
                                            </span>
                                            <span class="d-block pdt-8 pdb-8">
                                                <a class="btn btn--primary btn--xxsm fts-14 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p w-xsm-au d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" href="#">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                        <span class="d-flex justify-content-center align-items-center mrl-8- mrr-8-">
                                                            <span class="pdl-8 pdr-8 text-center">
                                                                Узнать стоимость
                                                            </span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 pdl-10 pdr-10 mrb-13 mrb-lg-23">
                                <div class="d-block clr-black-2 mnh-100-p p-rel z-i-1 pdb-83-51-p pdb-lg-123-51-p" data-hover-parent>
                                    <span class="p-abs t-0 r-0 b-0 l-0 z-i-1 h-100-p w-100-p">
                                        <img class="w-100-p h-100-p d-block objf-cv brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-cuisine/kitchen-picture-4.jpg" alt="1">
                                    </span>
                                    <span class="d-block p-abs r-0 b-0 l-0 z-i-2 h-46-p w-100-p bg-lngr-primary brbrr-12 brblr-12"></span>
                                    <span class="p-abs t-0 r-0 b-0 l-0 z-i-3 h-100-p w-100-p d-flex flex-column align-items-start pdt-11 pdr-14 pdb-14 pdl-14">
                                        <span class="flex-grow-1">
                                            <span class="d-block brw-1 brs-dash clr-black-br pdt-5 pdr-6 pdb-5 pdl-6 brtlr-6 brtrr-6 brbrr-6 brblr-6 bckdrp-fltr-blr-40-5">
                                                <span class="d-flex flex-column justify-content-center align-items-start">
                                                    <span class="mnw-0">
                                                        <span class="mrl-1- mrr-1- d-flex align-items-center">
                                                            <span class="pdl-1 pdr-1 mnw-0">
                                                                <i class="icon-full fts-18"></i>
                                                            </span>
                                                            <span class="pdl-1 pdr-1 mnw-0">
                                                                <span class="d-block fts-14 ftw-500 ls-0-21-">3,7 х 1,0 м</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                        <span class="pdb-11 pdb-lg-24 d-flex flex-column align-items-start">
                                            <span class="d-block fts-18 lh-1-2223 ftw-700 mnh-lg-44 mnh-xl-39 mrb-14 clr-white mxw-180">Кухня с фасадами  массив дуба</span>
                                            <span class="btn btn--primary btn--xxsm fts-14 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p w-xsm-au d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6">
                                                <span class="d-flex justify-content-center align-items-center">
                                                    <span class="d-flex justify-content-center align-items-center mrl-8- mrr-8-">
                                                        <span class="pdl-8 pdr-8 text-center">
                                                            Узнать стоимость
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="d-block p-abs r-0 b-0 l-0 z-i-100 h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12 clr-white bg-lngr-primary-2 opc-0 vsb-hidd tra-0-3s-ease" data-hover-child-show>
                                        <span class="h-100-p w-100-p d-flex flex-column align-items-center justify-content-center pdt-10 pdr-10 pdb-10 pdl-10 text-center" href="#">
                                            <span class="d-block pdt-8 pdb-8">
                                                <a class="d-block clr-tertiary-h text-center" href="#">
                                                    <span class="d-block pdt-3 pdb-3">
                                                        <img class="d-block mrl-au mrr-au w-150 w-sm-80 w-lg-140 w-xl-158" src="./img/svg/plus-3.svg" alt="plus">
                                                    </span>
                                                    <span class="d-block pdt-3 pdb-3">
                                                        <span class="d-block fts-13 fts-lg-14 ftw-300 lh-1-2858 ls-0-21-">Быстрый просмотр</span>
                                                    </span>
                                                </a>
                                            </span>
                                            <span class="d-block pdt-8 pdb-8">
                                                <a class="btn btn--primary btn--xxsm fts-14 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p w-xsm-au d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" href="#">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                        <span class="d-flex justify-content-center align-items-center mrl-8- mrr-8-">
                                                            <span class="pdl-8 pdr-8 text-center">
                                                                Узнать стоимость
                                                            </span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-12 col-lg-6 pdl-10 pdr-10">
                        <div class="row mrl-10- mrr-10- mnh-100-p">
                            <div class="col-12 pdl-10 pdr-10 mrb-13 mrb-lg-23 mnh-100-p">
                                <div class="d-block clr-black-2 mnh-100-p p-rel z-i-1 pdb-83-51-p pdb-lg-0" data-hover-parent>
                                    <span class="p-abs t-0 r-0 b-0 l-0 z-i-1 h-100-p w-100-p">
                                        <img class="w-100-p h-100-p d-block objf-cv brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-cuisine/kitchen-picture-5.jpg" alt="1">
                                    </span>
                                    <span class="d-block p-abs r-0 b-0 l-0 z-i-2 h-46-p w-100-p bg-lngr-primary brbrr-12 brblr-12"></span>
                                    <span class="p-abs t-0 r-0 b-0 l-0 z-i-3 h-100-p w-100-p d-flex flex-column align-items-start pdt-11 pdr-14 pdb-14 pdl-14">
                                        <span class="flex-grow-1">
                                            <span class="d-block brw-1 brs-dash clr-black-br pdt-5 pdr-6 pdb-5 pdl-6 brtlr-6 brtrr-6 brbrr-6 brblr-6 bckdrp-fltr-blr-40-5">
                                                <span class="d-flex flex-column justify-content-center align-items-start">
                                                    <span class="mnw-0">
                                                        <span class="mrl-1- mrr-1- d-flex align-items-center">
                                                            <span class="pdl-1 pdr-1 mnw-0">
                                                                <i class="icon-full fts-18"></i>
                                                            </span>
                                                            <span class="pdl-1 pdr-1 mnw-0">
                                                                <span class="d-block fts-14 ftw-500 ls-0-21-">3,7 х 1,0 м</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                        <span class="pdb-11 pdb-lg-24 d-flex flex-column align-items-start">
                                            <span class="d-block fts-18 lh-1-2223 ftw-700 mnh-lg-44 mnh-xl-39 mrb-14 clr-white mxw-180">Кухня с фасадами  эмаль</span>
                                            <span class="btn btn--primary btn--xxsm fts-14 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p w-xsm-au d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6">
                                                <span class="d-flex justify-content-center align-items-center">
                                                    <span class="d-flex justify-content-center align-items-center mrl-8- mrr-8-">
                                                        <span class="pdl-8 pdr-8 text-center">
                                                            Узнать стоимость
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="d-block p-abs r-0 b-0 l-0 z-i-100 h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12 clr-white bg-lngr-primary-2 opc-0 vsb-hidd tra-0-3s-ease" data-hover-child-show>
                                        <span class="h-100-p w-100-p d-flex flex-column align-items-center justify-content-center pdt-10 pdr-10 pdb-10 pdl-10 text-center" href="#">
                                            <span class="d-block pdt-8 pdb-8">
                                                <a class="d-block clr-tertiary-h text-center" href="#">
                                                    <span class="d-block pdt-3 pdb-3">
                                                        <img class="d-block mrl-au mrr-au w-150 w-sm-80 w-lg-140 w-xl-158" src="./img/svg/plus-3.svg" alt="plus">
                                                    </span>
                                                    <span class="d-block pdt-3 pdb-3">
                                                        <span class="d-block fts-13 fts-lg-14 ftw-300 lh-1-2858 ls-0-21-">Быстрый просмотр</span>
                                                    </span>
                                                </a>
                                            </span>
                                            <span class="d-block pdt-8 pdb-8">
                                                <a class="btn btn--primary btn--xxsm fts-14 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p w-xsm-au d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" href="#">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                        <span class="d-flex justify-content-center align-items-center mrl-8- mrr-8-">
                                                            <span class="pdl-8 pdr-8 text-center">
                                                                Узнать стоимость
                                                            </span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-12 pdl-10 pdr-10">
                        <div class="row mrl-10- mrr-10-">
                            <div class="col-12 col-sm-6 col-lg-3 pdl-10 pdr-10 mrb-13 mrb-lg-23">
                                <div class="d-block clr-black-2 mnh-100-p p-rel z-i-1 pdb-83-51-p pdb-lg-123-51-p" data-hover-parent>
                                    <span class="p-abs t-0 r-0 b-0 l-0 z-i-1 h-100-p w-100-p">
                                        <img class="w-100-p h-100-p d-block objf-cv brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-cuisine/kitchen-picture-6.jpg" alt="1">
                                    </span>
                                    <span class="d-block p-abs r-0 b-0 l-0 z-i-2 h-46-p w-100-p bg-lngr-primary brbrr-12 brblr-12"></span>
                                    <span class="p-abs t-0 r-0 b-0 l-0 z-i-3 h-100-p w-100-p d-flex flex-column align-items-start pdt-11 pdr-14 pdb-14 pdl-14">
                                        <span class="flex-grow-1">
                                            <span class="d-block brw-1 brs-dash clr-black-br pdt-5 pdr-6 pdb-5 pdl-6 brtlr-6 brtrr-6 brbrr-6 brblr-6 bckdrp-fltr-blr-40-5">
                                                <span class="d-flex flex-column justify-content-center align-items-start">
                                                    <span class="mnw-0">
                                                        <span class="mrl-1- mrr-1- d-flex align-items-center">
                                                            <span class="pdl-1 pdr-1 mnw-0">
                                                                <i class="icon-full fts-18"></i>
                                                            </span>
                                                            <span class="pdl-1 pdr-1 mnw-0">
                                                                <span class="d-block fts-14 ftw-500 ls-0-21-">3,7 х 1,0 м</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                        <span class="pdb-11 pdb-lg-24 d-flex flex-column align-items-start">
                                            <span class="d-block fts-18 lh-1-2223 ftw-700 mnh-lg-44 mnh-xl-39 mrb-14 clr-white mxw-180">Кухня с фасадами  эмаль</span>
                                            <span class="btn btn--primary btn--xxsm fts-14 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p w-xsm-au d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6">
                                                <span class="d-flex justify-content-center align-items-center">
                                                    <span class="d-flex justify-content-center align-items-center mrl-8- mrr-8-">
                                                        <span class="pdl-8 pdr-8 text-center">
                                                            Узнать стоимость
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="d-block p-abs r-0 b-0 l-0 z-i-100 h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12 clr-white bg-lngr-primary-2 opc-0 vsb-hidd tra-0-3s-ease" data-hover-child-show>
                                        <span class="h-100-p w-100-p d-flex flex-column align-items-center justify-content-center pdt-10 pdr-10 pdb-10 pdl-10 text-center" href="#">
                                            <span class="d-block pdt-8 pdb-8">
                                                <a class="d-block clr-tertiary-h text-center" href="#">
                                                    <span class="d-block pdt-3 pdb-3">
                                                        <img class="d-block mrl-au mrr-au w-150 w-sm-80 w-lg-140 w-xl-158" src="./img/svg/plus-3.svg" alt="plus">
                                                    </span>
                                                    <span class="d-block pdt-3 pdb-3">
                                                        <span class="d-block fts-13 fts-lg-14 ftw-300 lh-1-2858 ls-0-21-">Быстрый просмотр</span>
                                                    </span>
                                                </a>
                                            </span>
                                            <span class="d-block pdt-8 pdb-8">
                                                <a class="btn btn--primary btn--xxsm fts-14 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p w-xsm-au d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" href="#">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                        <span class="d-flex justify-content-center align-items-center mrl-8- mrr-8-">
                                                            <span class="pdl-8 pdr-8 text-center">
                                                                Узнать стоимость
                                                            </span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3 pdl-10 pdr-10 mrb-13 mrb-lg-23">
                                <div class="d-block clr-black-2 mnh-100-p p-rel z-i-1 pdb-83-51-p pdb-lg-123-51-p" data-hover-parent>
                                    <span class="p-abs t-0 r-0 b-0 l-0 z-i-1 h-100-p w-100-p">
                                        <img class="w-100-p h-100-p d-block objf-cv brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-cuisine/kitchen-picture-7.jpg" alt="1">
                                    </span>
                                    <span class="d-block p-abs r-0 b-0 l-0 z-i-2 h-46-p w-100-p bg-lngr-primary brbrr-12 brblr-12"></span>
                                    <span class="p-abs t-0 r-0 b-0 l-0 z-i-3 h-100-p w-100-p d-flex flex-column align-items-start pdt-11 pdr-14 pdb-14 pdl-14">
                                        <span class="flex-grow-1">
                                            <span class="d-block brw-1 brs-dash clr-black-br pdt-5 pdr-6 pdb-5 pdl-6 brtlr-6 brtrr-6 brbrr-6 brblr-6 bckdrp-fltr-blr-40-5">
                                                <span class="d-flex flex-column justify-content-center align-items-start">
                                                    <span class="mnw-0">
                                                        <span class="mrl-1- mrr-1- d-flex align-items-center">
                                                            <span class="pdl-1 pdr-1 mnw-0">
                                                                <i class="icon-full fts-18"></i>
                                                            </span>
                                                            <span class="pdl-1 pdr-1 mnw-0">
                                                                <span class="d-block fts-14 ftw-500 ls-0-21-">3,7 х 1,0 м</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                        <span class="pdb-11 pdb-lg-24 d-flex flex-column align-items-start">
                                            <span class="d-block fts-18 lh-1-2223 ftw-700 mnh-lg-44 mnh-xl-39 mrb-14 clr-white mxw-180">Кухня с фасадами  эмаль</span>
                                            <span class="btn btn--primary btn--xxsm fts-14 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p w-xsm-au d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6">
                                                <span class="d-flex justify-content-center align-items-center">
                                                    <span class="d-flex justify-content-center align-items-center mrl-8- mrr-8-">
                                                        <span class="pdl-8 pdr-8 text-center">
                                                            Узнать стоимость
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="d-block p-abs r-0 b-0 l-0 z-i-100 h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12 clr-white bg-lngr-primary-2 opc-0 vsb-hidd tra-0-3s-ease" data-hover-child-show>
                                        <span class="h-100-p w-100-p d-flex flex-column align-items-center justify-content-center pdt-10 pdr-10 pdb-10 pdl-10 text-center" href="#">
                                            <span class="d-block pdt-8 pdb-8">
                                                <a class="d-block clr-tertiary-h text-center" href="#">
                                                    <span class="d-block pdt-3 pdb-3">
                                                        <img class="d-block mrl-au mrr-au w-150 w-sm-80 w-lg-140 w-xl-158" src="./img/svg/plus-3.svg" alt="plus">
                                                    </span>
                                                    <span class="d-block pdt-3 pdb-3">
                                                        <span class="d-block fts-13 fts-lg-14 ftw-300 lh-1-2858 ls-0-21-">Быстрый просмотр</span>
                                                    </span>
                                                </a>
                                            </span>
                                            <span class="d-block pdt-8 pdb-8">
                                                <a class="btn btn--primary btn--xxsm fts-14 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p w-xsm-au d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" href="#">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                        <span class="d-flex justify-content-center align-items-center mrl-8- mrr-8-">
                                                            <span class="pdl-8 pdr-8 text-center">
                                                                Узнать стоимость
                                                            </span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3 pdl-10 pdr-10 mrb-13 mrb-lg-23">
                                <div class="d-block clr-black-2 mnh-100-p p-rel z-i-1 pdb-83-51-p pdb-lg-123-51-p" data-hover-parent>
                                    <span class="p-abs t-0 r-0 b-0 l-0 z-i-1 h-100-p w-100-p">
                                        <img class="w-100-p h-100-p d-block objf-cv brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-cuisine/kitchen-picture-8.jpg" alt="1">
                                    </span>
                                    <span class="d-block p-abs r-0 b-0 l-0 z-i-2 h-46-p w-100-p bg-lngr-primary brbrr-12 brblr-12"></span>
                                    <span class="p-abs t-0 r-0 b-0 l-0 z-i-3 h-100-p w-100-p d-flex flex-column align-items-start pdt-11 pdr-14 pdb-14 pdl-14">
                                        <span class="flex-grow-1">
                                            <span class="d-block brw-1 brs-dash clr-black-br pdt-5 pdr-6 pdb-5 pdl-6 brtlr-6 brtrr-6 brbrr-6 brblr-6 bckdrp-fltr-blr-40-5">
                                                <span class="d-flex flex-column justify-content-center align-items-start">
                                                    <span class="mnw-0">
                                                        <span class="mrl-1- mrr-1- d-flex align-items-center">
                                                            <span class="pdl-1 pdr-1 mnw-0">
                                                                <i class="icon-full fts-18"></i>
                                                            </span>
                                                            <span class="pdl-1 pdr-1 mnw-0">
                                                                <span class="d-block fts-14 ftw-500 ls-0-21-">3,7 х 1,0 м</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                        <span class="pdb-11 pdb-lg-24 d-flex flex-column align-items-start">
                                            <span class="d-block fts-18 lh-1-2223 ftw-700 mnh-lg-44 mnh-xl-39 mrb-14 clr-white mxw-180">Кухня в пластике</span>
                                            <span class="btn btn--primary btn--xxsm fts-14 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p w-xsm-au d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6">
                                                <span class="d-flex justify-content-center align-items-center">
                                                    <span class="d-flex justify-content-center align-items-center mrl-8- mrr-8-">
                                                        <span class="pdl-8 pdr-8 text-center">
                                                            Узнать стоимость
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="d-block p-abs r-0 b-0 l-0 z-i-100 h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12 clr-white bg-lngr-primary-2 opc-0 vsb-hidd tra-0-3s-ease" data-hover-child-show>
                                        <span class="h-100-p w-100-p d-flex flex-column align-items-center justify-content-center pdt-10 pdr-10 pdb-10 pdl-10 text-center" href="#">
                                            <span class="d-block pdt-8 pdb-8">
                                                <a class="d-block clr-tertiary-h text-center" href="#">
                                                    <span class="d-block pdt-3 pdb-3">
                                                        <img class="d-block mrl-au mrr-au w-150 w-sm-80 w-lg-140 w-xl-158" src="./img/svg/plus-3.svg" alt="plus">
                                                    </span>
                                                    <span class="d-block pdt-3 pdb-3">
                                                        <span class="d-block fts-13 fts-lg-14 ftw-300 lh-1-2858 ls-0-21-">Быстрый просмотр</span>
                                                    </span>
                                                </a>
                                            </span>
                                            <span class="d-block pdt-8 pdb-8">
                                                <a class="btn btn--primary btn--xxsm fts-14 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p w-xsm-au d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" href="#">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                        <span class="d-flex justify-content-center align-items-center mrl-8- mrr-8-">
                                                            <span class="pdl-8 pdr-8 text-center">
                                                                Узнать стоимость
                                                            </span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3 pdl-10 pdr-10 mrb-13 mrb-lg-23">
                                <div class="d-block clr-black-2 mnh-100-p p-rel z-i-1 pdb-83-51-p pdb-lg-123-51-p" data-hover-parent>
                                    <span class="p-abs t-0 r-0 b-0 l-0 z-i-1 h-100-p w-100-p">
                                        <img class="w-100-p h-100-p d-block objf-cv brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-cuisine/kitchen-picture-9.jpg" alt="1">
                                    </span>
                                    <span class="d-block p-abs r-0 b-0 l-0 z-i-2 h-46-p w-100-p bg-lngr-primary brbrr-12 brblr-12"></span>
                                    <span class="p-abs t-0 r-0 b-0 l-0 z-i-3 h-100-p w-100-p d-flex flex-column align-items-start pdt-11 pdr-14 pdb-14 pdl-14">
                                        <span class="flex-grow-1">
                                            <span class="d-block brw-1 brs-dash clr-black-br pdt-5 pdr-6 pdb-5 pdl-6 brtlr-6 brtrr-6 brbrr-6 brblr-6 bckdrp-fltr-blr-40-5">
                                                <span class="d-flex flex-column justify-content-center align-items-start">
                                                    <span class="mnw-0">
                                                        <span class="mrl-1- mrr-1- d-flex align-items-center">
                                                            <span class="pdl-1 pdr-1 mnw-0">
                                                                <i class="icon-full fts-18"></i>
                                                            </span>
                                                            <span class="pdl-1 pdr-1 mnw-0">
                                                                <span class="d-block fts-14 ftw-500 ls-0-21-">3,7 х 1,0 м</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                        <span class="pdb-11 pdb-lg-24 d-flex flex-column align-items-start">
                                            <span class="d-block fts-18 lh-1-2223 ftw-700 mnh-lg-44 mnh-xl-39 mrb-14 clr-white mxw-180">Кухня с фасадами  ЛДСП</span>
                                            <span class="btn btn--primary btn--xxsm fts-14 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p w-xsm-au d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6">
                                                <span class="d-flex justify-content-center align-items-center">
                                                    <span class="d-flex justify-content-center align-items-center mrl-8- mrr-8-">
                                                        <span class="pdl-8 pdr-8 text-center">
                                                            Узнать стоимость
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="d-block p-abs r-0 b-0 l-0 z-i-100 h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12 clr-white bg-lngr-primary-2 opc-0 vsb-hidd tra-0-3s-ease" data-hover-child-show>
                                        <span class="h-100-p w-100-p d-flex flex-column align-items-center justify-content-center pdt-10 pdr-10 pdb-10 pdl-10 text-center" href="#">
                                            <span class="d-block pdt-8 pdb-8">
                                                <a class="d-block clr-tertiary-h text-center" href="#">
                                                    <span class="d-block pdt-3 pdb-3">
                                                        <img class="d-block mrl-au mrr-au w-150 w-sm-80 w-lg-140 w-xl-158" src="./img/svg/plus-3.svg" alt="plus">
                                                    </span>
                                                    <span class="d-block pdt-3 pdb-3">
                                                        <span class="d-block fts-13 fts-lg-14 ftw-300 lh-1-2858 ls-0-21-">Быстрый просмотр</span>
                                                    </span>
                                                </a>
                                            </span>
                                            <span class="d-block pdt-8 pdb-8">
                                                <a class="btn btn--primary btn--xxsm fts-14 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p w-xsm-au d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" href="#">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                        <span class="d-flex justify-content-center align-items-center mrl-8- mrr-8-">
                                                            <span class="pdl-8 pdr-8 text-center">
                                                                Узнать стоимость
                                                            </span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>