<div class="bg-clr-black-3 clr-white">
    <div class="container">
        <section class="d-block pdt-29 pdb-47 pdt-lg-62 pdb-lg-66">
            <header class="d-block text-center pdb-47 pdb-lg-100">
                <h2 class="fts-20 fts-lg-52 lh-1-2 lh-lg-1-1924 mrb-4 mrb-lg-17">Мы заботимся о вашем бюджете!</h2>
                <p class="fts-12 fts-lg-23 lh-1-16667 lh-lg-1-2174 ftw-300">Воспользуйтесь выгодными<br class="d-lg-none"> предложениями от нашей фабрики!</p>
            </header>
            <div class="d-block p-rel z-i-1">
                <div class="d-block">
                    <div class="p-rel z-i-1 mxw-834 mrl-au mrr-au">
                        <div class="mrl-7- mrr-7- mrl-lg-10- mrr-lg-10-">
                            <div class="swiper over-vis" id="carouselYourBudget">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper over-vsb">
                                    <!-- Slides -->
                                    <div class="swiper-slide pdl-7 pdr-7 pdl-lg-10 pdr-lg-10 w-100-p h-au mxw-262 mxw-lg-none">
                                        <div class="d-block over-hid p-rel z-i-1 brtlr-18 brtrr-18 brbrr-18 brblr-18 pdb-88-5-p pdb-lg-80-8-p">
                                            <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-18 brtrr-18 brbrr-18 brblr-18" src="./img/section-your-budget/picture-1.jpg" alt="photo">
                                            <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-95-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brr-inh"></span>
                                            <div class="d-block p-abs t-0 r-0 b-0 l-0 z-i-100 h-100-p w-100-p brr-inh d-flex flex-column">
                                                <span class="d-block p-abs l-0 t-17 z-i-10">
                                                    <span class="d-block fts-14 lh-1-2858 ftw-500 ls-0-21- clr-white pdt-5 pdb-7 pdl-15 pdr-15 bg-clr-accent mnw-144 brtrr-6 brbrr-6 text-center">Подарок</span>
                                                </span>
                                                <div class="d-flex flex-column align-items-start p-abs t-0 t-lg-au b-0 l-0 r-0 w-100-p z-i-100 pdt-56 pdl-20 pdr-20 pdb-19 pdl-lg-23 pdr-lg-23 pdb-lg-36">
                                                    <div class="mrb-lg-52">
                                                        <h3 class="d-block fts-22 fts-lg-34 ftw-700 lh-1-4091 lh-1-lg-2059 mnh-82">Проект<br>кухни в подарок</h3>
                                                    </div>
                                                    <div class="d-none d-lg-block">
                                                        <a class="btn btn--primary mnh-53 mnw-193 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" href="#">
                                                            <span class="d-flex justify-content-center align-items-center">
                                                                <span class="d-flex justify-content-center align-items-center mrl-9- mrr-9-">
                                                                    <span class="pdl-9 pdr-9">
                                                                        <span class="d-block fts-16 ftw-500 ls-0-24-">Оставить заявку</span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide pdl-7 pdr-7 pdl-lg-10 pdr-lg-10 w-100-p h-au mxw-262 mxw-lg-none">
                                        <div class="d-block over-hid p-rel z-i-1 brtlr-18 brtrr-18 brbrr-18 brblr-18 pdb-88-5-p pdb-lg-80-8-p">
                                            <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-18 brtrr-18 brbrr-18 brblr-18" src="./img/section-your-budget/picture-2.jpg" alt="photo">
                                            <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-95-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brr-inh"></span>
                                            <div class="d-block p-abs t-0 r-0 b-0 l-0 z-i-100 h-100-p w-100-p brr-inh d-flex flex-column">
                                                <span class="d-block p-abs l-0 t-17 z-i-10">
                                                    <span class="d-block fts-14 lh-1-2858 ftw-500 ls-0-21- clr-white pdt-5 pdb-7 pdl-15 pdr-15 bg-clr-accent mnw-144 brtrr-6 brbrr-6 text-center">Подарок</span>
                                                </span>
                                                <div class="d-flex flex-column align-items-start p-abs t-0 t-lg-au b-0 l-0 r-0 w-100-p z-i-100 pdt-56 pdl-20 pdr-20 pdb-19 pdl-lg-23 pdr-lg-23 pdb-lg-36">
                                                    <div class="mrb-lg-52">
                                                        <h3 class="d-block fts-22 fts-lg-34 ftw-700 lh-1-4091 lh-1-lg-2059 mnh-82">Проект<br>кухни в подарок</h3>
                                                    </div>
                                                    <div class="d-none d-lg-block">
                                                        <a class="btn btn--primary mnh-53 mnw-193 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" href="#">
                                                            <span class="d-flex justify-content-center align-items-center">
                                                                <span class="d-flex justify-content-center align-items-center mrl-9- mrr-9-">
                                                                    <span class="pdl-9 pdr-9">
                                                                        <span class="d-block fts-16 ftw-500 ls-0-24-">Оставить заявку</span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide pdl-7 pdr-7 pdl-lg-10 pdr-lg-10 w-100-p h-au mxw-262 mxw-lg-none">
                                        <div class="d-block over-hid p-rel z-i-1 brtlr-18 brtrr-18 brbrr-18 brblr-18 pdb-88-5-p pdb-lg-80-8-p">
                                            <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-18 brtrr-18 brbrr-18 brblr-18" src="./img/section-your-budget/picture-3.jpg" alt="photo">
                                            <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-95-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brr-inh"></span>
                                            <div class="d-block p-abs t-0 r-0 b-0 l-0 z-i-100 h-100-p w-100-p brr-inh d-flex flex-column">
                                                <span class="d-block p-abs l-0 t-17 z-i-10">
                                                    <span class="d-block fts-14 lh-1-2858 ftw-500 ls-0-21- clr-white pdt-5 pdb-7 pdl-15 pdr-15 bg-clr-accent mnw-144 brtrr-6 brbrr-6 text-center">Акция</span>
                                                </span>
                                                <div class="d-flex flex-column align-items-start p-abs t-0 t-lg-au b-0 l-0 r-0 w-100-p z-i-100 pdt-56 pdl-20 pdr-20 pdb-19 pdl-lg-23 pdr-lg-23 pdb-lg-36">
                                                    <div class="mrb-lg-52">
                                                        <h3 class="d-block fts-22 fts-lg-34 ftw-700 lh-1-4091 lh-1-lg-2059 mnh-82">Бесплатная<br>доставка</h3>
                                                    </div>
                                                    <div class="d-none d-lg-block">
                                                        <a class="btn btn--primary mnh-53 mnw-193 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" href="#">
                                                            <span class="d-flex justify-content-center align-items-center">
                                                                <span class="d-flex justify-content-center align-items-center mrl-9- mrr-9-">
                                                                    <span class="pdl-9 pdr-9">
                                                                        <span class="d-block fts-16 ftw-500 ls-0-24-">Оставить заявку</span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide pdl-7 pdr-7 pdl-lg-10 pdr-lg-10 w-100-p h-au mxw-262 mxw-lg-none">
                                        <div class="d-block over-hid p-rel z-i-1 brtlr-18 brtrr-18 brbrr-18 brblr-18 pdb-88-5-p pdb-lg-80-8-p">
                                            <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-18 brtrr-18 brbrr-18 brblr-18" src="./img/section-your-budget/picture-4.jpg" alt="photo">
                                            <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-95-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brr-inh"></span>
                                            <div class="d-block p-abs t-0 r-0 b-0 l-0 z-i-100 h-100-p w-100-p brr-inh d-flex flex-column">
                                                <span class="d-block p-abs l-0 t-17 z-i-10">
                                                    <span class="d-block fts-14 lh-1-2858 ftw-500 ls-0-21- clr-white pdt-5 pdb-7 pdl-15 pdr-15 bg-clr-accent mnw-144 brtrr-6 brbrr-6 text-center">Рассрочка</span>
                                                </span>
                                                <div class="d-flex flex-column align-items-start p-abs t-0 t-lg-au b-0 l-0 r-0 w-100-p z-i-100 pdt-56 pdl-20 pdr-20 pdb-19 pdl-lg-23 pdr-lg-23 pdb-lg-36">
                                                    <div class="mrb-lg-52">
                                                        <h3 class="d-block fts-22 fts-lg-34 ftw-700 lh-1-4091 lh-1-lg-2059 mnh-82">Рассрочка<br>от банка-партнера</h3>
                                                    </div>
                                                    <div class="d-none d-lg-block">
                                                        <a class="btn btn--primary mnh-53 mnw-193 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" href="#">
                                                            <span class="d-flex justify-content-center align-items-center">
                                                                <span class="d-flex justify-content-center align-items-center mrl-9- mrr-9-">
                                                                    <span class="pdl-9 pdr-9">
                                                                        <span class="d-block fts-16 ftw-500 ls-0-24-">Оставить заявку</span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide pdl-7 pdr-7 pdl-lg-10 pdr-lg-10 w-100-p h-au mxw-262 mxw-lg-none">
                                        <div class="d-block over-hid p-rel z-i-1 brtlr-18 brtrr-18 brbrr-18 brblr-18 pdb-88-5-p pdb-lg-80-8-p">
                                            <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-18 brtrr-18 brbrr-18 brblr-18" src="./img/section-your-budget/picture-2.jpg" alt="photo">
                                            <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-95-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brr-inh"></span>
                                            <div class="d-block p-abs t-0 r-0 b-0 l-0 z-i-100 h-100-p w-100-p brr-inh d-flex flex-column">
                                                <span class="d-block p-abs l-0 t-17 z-i-10">
                                                    <span class="d-block fts-14 lh-1-2858 ftw-500 ls-0-21- clr-white pdt-5 pdb-7 pdl-15 pdr-15 bg-clr-accent mnw-144 brtrr-6 brbrr-6 text-center">Рассрочка</span>
                                                </span>
                                                <div class="d-flex flex-column align-items-start p-abs t-0 t-lg-au b-0 l-0 r-0 w-100-p z-i-100 pdt-56 pdl-20 pdr-20 pdb-19 pdl-lg-23 pdr-lg-23 pdb-lg-36">
                                                    <div class="mrb-lg-52">
                                                        <h3 class="d-block fts-22 fts-lg-34 ftw-700 lh-1-4091 lh-1-lg-2059 mnh-82">Рассрочка<br>от банка-партнера</h3>
                                                    </div>
                                                    <div class="d-none d-lg-block">
                                                        <a class="btn btn--primary mnh-53 mnw-193 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" href="#">
                                                            <span class="d-flex justify-content-center align-items-center">
                                                                <span class="d-flex justify-content-center align-items-center mrl-9- mrr-9-">
                                                                    <span class="pdl-9 pdr-9">
                                                                        <span class="d-block fts-16 ftw-500 ls-0-24-">Оставить заявку</span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide pdl-7 pdr-7 pdl-lg-10 pdr-lg-10 w-100-p h-au mxw-262 mxw-lg-none">
                                        <div class="d-block over-hid p-rel z-i-1 brtlr-18 brtrr-18 brbrr-18 brblr-18 pdb-88-5-p pdb-lg-80-8-p">
                                            <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-18 brtrr-18 brbrr-18 brblr-18" src="./img/section-your-budget/picture-1.jpg" alt="photo">
                                            <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-95-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brr-inh"></span>
                                            <div class="d-block p-abs t-0 r-0 b-0 l-0 z-i-100 h-100-p w-100-p brr-inh d-flex flex-column">
                                                <span class="d-block p-abs l-0 t-17 z-i-10">
                                                    <span class="d-block fts-14 lh-1-2858 ftw-500 ls-0-21- clr-white pdt-5 pdb-7 pdl-15 pdr-15 bg-clr-accent mnw-144 brtrr-6 brbrr-6 text-center">Подарок</span>
                                                </span>
                                                <div class="d-flex flex-column align-items-start p-abs t-0 t-lg-au b-0 l-0 r-0 w-100-p z-i-100 pdt-56 pdl-20 pdr-20 pdb-19 pdl-lg-23 pdr-lg-23 pdb-lg-36">
                                                    <div class="mrb-lg-52">
                                                        <h3 class="d-block fts-22 fts-lg-34 ftw-700 lh-1-4091 lh-1-lg-2059 mnh-82">Проект<br>кухни в подарок</h3>
                                                    </div>
                                                    <div class="d-none d-lg-block">
                                                        <a class="btn btn--primary mnh-53 mnw-193 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" href="#">
                                                            <span class="d-flex justify-content-center align-items-center">
                                                                <span class="d-flex justify-content-center align-items-center mrl-9- mrr-9-">
                                                                    <span class="pdl-9 pdr-9">
                                                                        <span class="d-block fts-16 ftw-500 ls-0-24-">Оставить заявку</span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide pdl-7 pdr-7 pdl-lg-10 pdr-lg-10 w-100-p h-au mxw-262 mxw-lg-none">
                                        <div class="d-block over-hid p-rel z-i-1 brtlr-18 brtrr-18 brbrr-18 brblr-18 pdb-88-5-p pdb-lg-80-8-p">
                                            <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-18 brtrr-18 brbrr-18 brblr-18" src="./img/section-your-budget/picture-2.jpg" alt="photo">
                                            <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-95-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brr-inh"></span>
                                            <div class="d-block p-abs t-0 r-0 b-0 l-0 z-i-100 h-100-p w-100-p brr-inh d-flex flex-column">
                                                <span class="d-block p-abs l-0 t-17 z-i-10">
                                                    <span class="d-block fts-14 lh-1-2858 ftw-500 ls-0-21- clr-white pdt-5 pdb-7 pdl-15 pdr-15 bg-clr-accent mnw-144 brtrr-6 brbrr-6 text-center">Подарок</span>
                                                </span>
                                                <div class="d-flex flex-column align-items-start p-abs t-0 t-lg-au b-0 l-0 r-0 w-100-p z-i-100 pdt-56 pdl-20 pdr-20 pdb-19 pdl-lg-23 pdr-lg-23 pdb-lg-36">
                                                    <div class="mrb-lg-52">
                                                        <h3 class="d-block fts-22 fts-lg-34 ftw-700 lh-1-4091 lh-1-lg-2059 mnh-82">Проект<br>кухни в подарок</h3>
                                                    </div>
                                                    <div class="d-none d-lg-block">
                                                        <a class="btn btn--primary mnh-53 mnw-193 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" href="#">
                                                            <span class="d-flex justify-content-center align-items-center">
                                                                <span class="d-flex justify-content-center align-items-center mrl-9- mrr-9-">
                                                                    <span class="pdl-9 pdr-9">
                                                                        <span class="d-block fts-16 ftw-500 ls-0-24-">Оставить заявку</span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide pdl-7 pdr-7 pdl-lg-10 pdr-lg-10 w-100-p h-au mxw-262 mxw-lg-none">
                                        <div class="d-block over-hid p-rel z-i-1 brtlr-18 brtrr-18 brbrr-18 brblr-18 pdb-88-5-p pdb-lg-80-8-p">
                                            <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-18 brtrr-18 brbrr-18 brblr-18" src="./img/section-your-budget/picture-3.jpg" alt="photo">
                                            <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-95-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brr-inh"></span>
                                            <div class="d-block p-abs t-0 r-0 b-0 l-0 z-i-100 h-100-p w-100-p brr-inh d-flex flex-column">
                                                <span class="d-block p-abs l-0 t-17 z-i-10">
                                                    <span class="d-block fts-14 lh-1-2858 ftw-500 ls-0-21- clr-white pdt-5 pdb-7 pdl-15 pdr-15 bg-clr-accent mnw-144 brtrr-6 brbrr-6 text-center">Акция</span>
                                                </span>
                                                <div class="d-flex flex-column align-items-start p-abs t-0 t-lg-au b-0 l-0 r-0 w-100-p z-i-100 pdt-56 pdl-20 pdr-20 pdb-19 pdl-lg-23 pdr-lg-23 pdb-lg-36">
                                                    <div class="mrb-lg-52">
                                                        <h3 class="d-block fts-22 fts-lg-34 ftw-700 lh-1-4091 lh-1-lg-2059 mnh-82">Бесплатная<br>доставка</h3>
                                                    </div>
                                                    <div class="d-none d-lg-block">
                                                        <a class="btn btn--primary mnh-53 mnw-193 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" href="#">
                                                            <span class="d-flex justify-content-center align-items-center">
                                                                <span class="d-flex justify-content-center align-items-center mrl-9- mrr-9-">
                                                                    <span class="pdl-9 pdr-9">
                                                                        <span class="d-block fts-16 ftw-500 ls-0-24-">Оставить заявку</span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide pdl-7 pdr-7 pdl-lg-10 pdr-lg-10 w-100-p h-au mxw-262 mxw-lg-none">
                                        <div class="d-block over-hid p-rel z-i-1 brtlr-18 brtrr-18 brbrr-18 brblr-18 pdb-88-5-p pdb-lg-80-8-p">
                                            <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-18 brtrr-18 brbrr-18 brblr-18" src="./img/section-your-budget/picture-4.jpg" alt="photo">
                                            <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-95-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brr-inh"></span>
                                            <div class="d-block p-abs t-0 r-0 b-0 l-0 z-i-100 h-100-p w-100-p brr-inh d-flex flex-column">
                                                <span class="d-block p-abs l-0 t-17 z-i-10">
                                                    <span class="d-block fts-14 lh-1-2858 ftw-500 ls-0-21- clr-white pdt-5 pdb-7 pdl-15 pdr-15 bg-clr-accent mnw-144 brtrr-6 brbrr-6 text-center">Рассрочка</span>
                                                </span>
                                                <div class="d-flex flex-column align-items-start p-abs t-0 t-lg-au b-0 l-0 r-0 w-100-p z-i-100 pdt-56 pdl-20 pdr-20 pdb-19 pdl-lg-23 pdr-lg-23 pdb-lg-36">
                                                    <div class="mrb-lg-52">
                                                        <h3 class="d-block fts-22 fts-lg-34 ftw-700 lh-1-4091 lh-1-lg-2059 mnh-82">Рассрочка<br>от банка-партнера</h3>
                                                    </div>
                                                    <div class="d-none d-lg-block">
                                                        <a class="btn btn--primary mnh-53 mnw-193 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" href="#">
                                                            <span class="d-flex justify-content-center align-items-center">
                                                                <span class="d-flex justify-content-center align-items-center mrl-9- mrr-9-">
                                                                    <span class="pdl-9 pdr-9">
                                                                        <span class="d-block fts-16 ftw-500 ls-0-24-">Оставить заявку</span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide pdl-7 pdr-7 pdl-lg-10 pdr-lg-10 w-100-p h-au mxw-262 mxw-lg-none">
                                        <div class="d-block over-hid p-rel z-i-1 brtlr-18 brtrr-18 brbrr-18 brblr-18 pdb-88-5-p pdb-lg-80-8-p">
                                            <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-18 brtrr-18 brbrr-18 brblr-18" src="./img/section-your-budget/picture-2.jpg" alt="photo">
                                            <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-95-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brr-inh"></span>
                                            <div class="d-block p-abs t-0 r-0 b-0 l-0 z-i-100 h-100-p w-100-p brr-inh d-flex flex-column">
                                                <span class="d-block p-abs l-0 t-17 z-i-10">
                                                    <span class="d-block fts-14 lh-1-2858 ftw-500 ls-0-21- clr-white pdt-5 pdb-7 pdl-15 pdr-15 bg-clr-accent mnw-144 brtrr-6 brbrr-6 text-center">Рассрочка</span>
                                                </span>
                                                <div class="d-flex flex-column align-items-start p-abs t-0 t-lg-au b-0 l-0 r-0 w-100-p z-i-100 pdt-56 pdl-20 pdr-20 pdb-19 pdl-lg-23 pdr-lg-23 pdb-lg-36">
                                                    <div class="mrb-lg-52">
                                                        <h3 class="d-block fts-22 fts-lg-34 ftw-700 lh-1-4091 lh-1-lg-2059 mnh-82">Рассрочка<br>от банка-партнера</h3>
                                                    </div>
                                                    <div class="d-none d-lg-block">
                                                        <a class="btn btn--primary mnh-53 mnw-193 ftw-500 pdl-16 pdr-16 pdt-5 pdb-5 w-100-p d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" href="#">
                                                            <span class="d-flex justify-content-center align-items-center">
                                                                <span class="d-flex justify-content-center align-items-center mrl-9- mrr-9-">
                                                                    <span class="pdl-9 pdr-9">
                                                                        <span class="d-block fts-16 ftw-500 ls-0-24-">Оставить заявку</span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- If we need pagination -->
                                <div class="d-flex justify-content-center">
                                    <div class="swiper-pagination swiper-pagination--white pdt-17 pdt-lg-55"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>