<div>
    <div class="container">
        <section class="d-block pdt-35 pdb-24 pdt-lg-100 pdb-lg-68">
            <header class="d-none"></header>
            <div class="d-block p-rel z-i-1">
                <div class="pdl-18 pdr-18 pdt-18 pdb-100 pdl-lg-82 pdt-lg-54 pdr-lg-28 pdb-lg-68 brtlr-25 brtrr-25 brbrr-25 brblr-25 bg-clr-black-3 clr-white p-rel z-i-1 mnh-lg-376">
                    <div class="pdb-30 pdb-lg-0 pdr-lg-50 pdr-xl-100 mrr-xl-100">
                        <div class="pdr-lg-100 mrr-lg-20">
                            <div class="pdr-lg-100 mrr-lg-100">
                                <div class="mxw-570 d-flex flex-column align-items-start p-rel z-i-1">
                                    <div class="mrb-10 mrb-lg-25">
                                        <h3 class="fts-20 fts-lg-33 ftw-700 lh-1-2 lh-lg-1-2122 opc-0-8">Скачайте каталог<br>по идеальной планировке кухни:</h3>
                                    </div>
                                    <div class="mrb-lg-35">
                                        <div class="mrl-7- mrr-7- mrl-lg-14- mrr-lg-14- d-flex align-items-center">
                                            <div class="pdl-7 pdr-7 pdl-lg-14 pdr-lg-14">
                                                <span class="brw-2 brs-sol clr-accent-br clr-accent h-42 w-42 brtlr-3 brtrr-3 brbrr-3 brblr-3 d-flex justify-content-center align-items-center">
                                                    <i class="icon-check fts-20"></i>
                                                </span>
                                            </div>
                                            <div class="pdl-7 pdr-7 pdl-lg-14 pdr-lg-14">
                                                <h4 class="fts-16 fts-lg-26 ftw-500 lh-1-1875 lh-lg-1-1923 td-un clr-accent">Что должен знать собственник перед покупкой</h4>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="d-none d-lg-block">
                                        <a class="btn btn--primary mnh-53 mnw-193 ftw-500 pdl-38 pdr-38 pdt-5 pdb-5 w-100-p d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" href="#">
                                            <span class="d-flex justify-content-center align-items-center">
                                                <span class="d-flex justify-content-center align-items-center mrl-9- mrr-9-">
                                                    <span class="pdl-9 pdr-9">
                                                        <span class="d-block fts-17 ftw-500 ls-0-24-">Скачать бесплатно</span>
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img class="p-abs r-24- r-xl-46 t-100- mrt-9- d-none d-lg-block" src="./img/section-download-book/book.png" alt="book">
                </div>
                <div class="p-rel z-i-100 d-lg-none">
                    <div class="mrt-125-">
                        <div class="d-flex flex-column align-items-center">
                            <div class="d-block mrb-39">
                                <img class="d-block mxw-231 mrl-au mrr-au w-100-p" src="./img/section-download-book/book.png" alt="book">
                            </div>
                            <div class="d-block">
                                <a class="btn btn--primary mnh-53 mnw-193 ftw-500 pdl-38 pdr-38 pdt-5 pdb-5 w-100-p d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" href="#">
                                    <span class="d-flex justify-content-center align-items-center">
                                        <span class="d-flex justify-content-center align-items-center mrl-9- mrr-9-">
                                            <span class="pdl-9 pdr-9">
                                                <span class="d-block fts-17 ftw-500 ls-0-24-">Скачать бесплатно</span>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>