<div class="mrt-lg-278-">
    <div class="container">
        <div class="pdt-26 pdb-lg-27 pdt-lg-0">
            <div class="pdl-0 pdr-0 pdr-lg-70 pdl-xl-85 pdr-xl-85">
                <div class="pdl-xl-100 pdr-xl-100">
                    <div class="mxw-831 mrl-xl-au mrr-xl-au bg-clr-white brtlr-13 brtrr-13 brbrr-13 brblr-13 pdt-15 pdr-8 pdb-15 pdl-8 pdt-lg-13 pdr-lg-13 pdb-lg-13 pdl-lg-13">
                        <div class="d-block clr-secondary-2-br brw-1 brs-sol brr-inh pdl-14 pdt-10 pdr-14 pdb-22 pdt-lg-16 pdr-lg-16 pdb-lg-16 pdl-lg-16">
                            <header class="mrb-10 mrb-lg-32">
                                <h3 class="fts-20 fts-lg-34 lh-1-2 ftw-700 clr-accent pdl-lg-47 text-center text-lg-left">Подарок каждому при заказе кухни!</h3>
                            </header>
                            <div>
                                <div>
                                    <div class="mrl-20- mrr-20- row">
                                        <div class="col-12 col-lg-6 pdl-20 pdr-20 pdt-2 mnw-0 flex-grow-1 mxw-lg-440">
                                            <div class="pdl-lg-20 pdb-10 pdb-lg-29">
                                                <div class="d-block mxw-254 mxw-lg-327 mrl-au mrr-au mrl-lg-0 mrr-lg-0 mrb-11 mrb-lg-6">
                                                    <div class="p-rel z-i-1 pdl-12 pdr-12 pdl-lg-0 pdr-lg-0">
                                                        <div class="swiper carousePhotos over-vis">
                                                            <!-- Additional required wrapper -->
                                                            <div class="swiper-wrapper over-hid">
                                                                <!-- Slides -->
                                                                <div class="swiper-slide w-100-p h-au">
                                                                    <span class="d-block over-hid p-rel z-i-1 brtlr-12 brtrr-12 brbrr-12 brblr-12 pdb-63-6-p pdb-lg-73-1-p">
                                                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-photos/photo-picture-1.jpg" alt="photo">
                                                                        <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-46-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brtlr-12 brtrr-12 brbrr-12 brblr-12"></span>
                                                                    </span>
                                                                </div>
                                                                <div class="swiper-slide w-100-p h-au">
                                                                    <span class="d-block over-hid p-rel z-i-1 brtlr-12 brtrr-12 brbrr-12 brblr-12 pdb-63-6-p pdb-lg-73-1-p">
                                                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-photos/photo-picture-2.jpg" alt="photo">
                                                                        <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-46-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brtlr-12 brtrr-12 brbrr-12 brblr-12"></span>
                                                                    </span>
                                                                </div>
                                                                <div class="swiper-slide w-100-p h-au">
                                                                    <span class="d-block over-hid p-rel z-i-1 brtlr-12 brtrr-12 brbrr-12 brblr-12 pdb-63-6-p pdb-lg-73-1-p">
                                                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-photos/photo-picture-1.jpg" alt="photo">
                                                                        <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-46-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brtlr-12 brtrr-12 brbrr-12 brblr-12"></span>
                                                                    </span>
                                                                </div>
                                                                <div class="swiper-slide w-100-p h-au">
                                                                    <span class="d-block over-hid p-rel z-i-1 brtlr-12 brtrr-12 brbrr-12 brblr-12 pdb-63-6-p pdb-lg-73-1-p">
                                                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-photos/photo-picture-2.jpg" alt="photo">
                                                                        <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-46-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brtlr-12 brtrr-12 brbrr-12 brblr-12"></span>
                                                                    </span>
                                                                </div>
                                                                <div class="swiper-slide w-100-p h-au">
                                                                    <span class="d-block over-hid p-rel z-i-1 brtlr-12 brtrr-12 brbrr-12 brblr-12 pdb-63-6-p pdb-lg-73-1-p">
                                                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-photos/photo-picture-1.jpg" alt="photo">
                                                                        <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-46-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brtlr-12 brtrr-12 brbrr-12 brblr-12"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <!-- If we need pagination -->
                                                            <div class="d-flex justify-content-center">
                                                                <div class="swiper-pagination pdt-8"></div>
                                                            </div>
                                                            <!-- If we need navigation buttons -->
                                                            <button class="swiper-button-prev btn-reset d-block p-abs t-52 l-21- t-lg-88 mrt-0 l-lg-31- z-i-100 clr-secondary-8 clr-accent-h h-au w-au">
                                                                <span class="d-block pdt-5 pdr-5 pdb-5 pdl-5 mrt-5- mrr-5- mrb-5- mrl-5-">
                                                                    <span class="d-block h-42 w-42 h-lg-61 w-lg-61 brr-50-p pdt-4 pdr-4 pdb-4 pdl-4 pdt-lg-5 pdr-lg-5 pdb-lg-5 pdl-lg-5">
                                                                        <span class="d-block bg-clr-crc h-100-p w-100-p brr-inh d-flex justify-content-center align-items-center tra-0-3s-ease">
                                                                            <i class="icon-arrow-left clr-white fts-15 fts-lg-20 p-rel l-2-"></i>
                                                                        </span>
                                                                        <span class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1- w-100-p h-100-p brr-50-p brw-3 brs-sol clr-crc-br tra-0-3s-ease"></span>
                                                                    </span>
                                                                </span>
                                                            </button>
                                                            <button class="swiper-button-next btn-reset d-block p-abs t-52 r-21- t-lg-88 mrt-0 r-lg-31- z-i-100 clr-secondary-8 clr-accent-h h-au w-au">
                                                                <span class="d-block pdt-5 pdr-5 pdb-5 pdl-5 mrt-5- mrr-5- mrb-5- mrl-5-">
                                                                    <span class="d-block h-42 w-42 h-lg-61 w-lg-61 brr-50-p pdt-4 pdr-4 pdb-4 pdl-4 pdt-lg-5 pdr-lg-5 pdb-lg-5 pdl-lg-5">
                                                                        <span class="d-block bg-clr-crc h-100-p w-100-p brr-inh d-flex justify-content-center align-items-center tra-0-3s-ease">
                                                                            <i class="icon-arrow-right clr-white fts-15 fts-lg-20 p-rel r-2-"></i>
                                                                        </span>
                                                                        <span class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1- w-100-p h-100-p brr-50-p brw-3 brs-sol clr-crc-br tra-0-3s-ease"></span>
                                                                    </span>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="p-rel z-i-100 text-center text-lg-left">
                                                    <h4 class="fts-16 fts-lg-22 lh-1-1875 lh-lg-1-1819 ftw-700 mrb-16 mrb-lg-17">Варочная панель в подарок при заказе кухни от 200 000₽</h4>
                                                    <div class="p-rel">
                                                        <p class="fts-10 fts-lg-14 lh-1-2 lh-lg-1-2143 ftw-300 clr-black-2">*- Акции не суммируются. Действует до<br class="d-none d-lg-block"> 10 сентября 2023</p>
                                                        <span class="p-abs r-46- t-27- z-i-1 d-none d-lg-block">
                                                            <i class="icon-arrow fts-93 clr-tertiary"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 pdl-20 pdr-20 mnw-0 flex-shrink-1">
                                            <div class="pdl-lg-10 text-center text-lg-left">
                                                <h4 class="fts-16 fts-lg-22 lh-1-1875 lh-lg-1-1819 ftw-700 mrb-18 mrb-lg-51">Забронируйте подарок сейчас, КОЛИЧЕСТВО ОГРАНИЧЕНО:</h4>
                                                <div class="d-block">
                                                    <form class="d-block mxw-296 mrl-au mrr-au mrl-lg-0 mrr-lg-0" action="#">
                                                        <div class="mrb-16 mrb-sm-18">
                                                            <div class="p-rel">
                                                                <div class="c-au d-block">
                                                                    <select name="select" data-selectbox>
                                                                        <option value="Обеденная  группа">Обеденная  группа</option>
                                                                        <option value="Обеденная  группа">Обеденная  группа 2</option>
                                                                        <option value="Обеденная  группа">Обеденная  группа 3</option>
                                                                    </select>
                                                                    <span class="d-block bg-clr-secondary-9 w-100-p h-100-p p-abs l-0 t-0 r-0 b-0 z-i-1- brtlr-8 brtrr-8 brbrr-8 brblr-8 brw-2-f tra-0-2s-ease" data-js-form-control-overlay></span>
                                                                    <span class="d-flex align-items-center p-abs l-19 t-0 b-0">
                                                                        <i class="icon-gift fts-24 clr-secondary-10"></i>
                                                                    </span>
                                                                    <span class="d-flex align-items-center p-abs r-21 t-0 b-0">
                                                                        <i class="icon-arrow-bottom fts-16 fts-lg-19 clr-secondary-2"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mrb-16 mrb-sm-18">
                                                            <div class="p-rel z-i-1">
                                                                <label class="c-au d-block">
                                                                    <input class="d-block mnh-42 lh-40-px mnh-lg-60 lh-lg-58-px br-0 w-100-p pdl-59 pdr-24 br-0 bg-tra brtlr-8 brtrr-8 brbrr-8 brblr-8 clr-black-2 p-rel z-i-10 fts-10 fts-lg-14 ftw-300 lh-1" type="text" name="tel" placeholder="Введите ваш номер телефона">
                                                                    <span class="d-block bg-clr-secondary-9 w-100-p h-100-p p-abs l-0 t-0 r-0 b-0 z-i-1- brtlr-8 brtrr-8 brbrr-8 brblr-8 brw-2-f tra-0-2s-ease" data-js-form-control-overlay></span>
                                                                    <span class="d-flex align-items-center p-abs l-19 t-0 b-0">
                                                                        <i class="icon-tel fts-20 clr-secondary-10"></i>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="mrb-14">
                                                            <div class="p-rel z-i-1">
                                                                <button class="btn btn--default mnh-42 mnh-lg-53 fts-14 ftw-500 pdl-20 pdr-20 pdl-lg-16 pdr-lg-16 pdt-5 pdb-5 w-100-p d-flex justify-content-start align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" type="submit">
                                                                    <span class="d-flex justify-content-start align-items-center">
                                                                        <span class="d-flex justify-content-start align-items-center mrl-9- mrr-9-">
                                                                            <span class="pdl-9 pdr-9">
                                                                                <i class="icon-gift fts-23 fts-lg-33"></i>
                                                                            </span>
                                                                            <span class="pdl-9 pdr-9">
                                                                                <span class="d-block fts-13 fts-lg-15 ftw-500 ls-0-225-">Забронировать подарок</span>
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="pdl-lg-5">
                                                            <div class="p-rel z-i-1">
                                                                <p class="fts-10 fts-lg-13 ftw-300 lh-1-2308">Нажимая кнопку вы соглашаетесь с  условиями <a class="clr-inh clr-accent-h" href="#">политики конфиденциальности</a></p>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>