<div>
    <div class="container">
        <section class="d-block pdt-53 pdb-31 pdt-lg-57 pdb-lg-53">
            <header class="d-block mrb-31 mrb-lg-43 text-center text-lg-left">
                <h2 class="fts-20 fts-lg-40 lh-1-2 ftw-700 clr-accent">Ответы на часто задаваемые вопросы</h2>
            </header>
            <div class="d-block" data-js-toggle>
                <ul class="d-block list-reset">
                    <li class="d-block br-0 brtw-1 brs-sol clr-black-br pdt-8 pdb-8 pdt-lg-10 pdb-lg-8" data-js-toggle-button-parent>
                        <button class="d-block btn-reset pdt-7 pdb-7 pdt-lg-19 pdb-lg-18 pdr-lg-90 w-100-p text-left p-rel z-i-1" type="button" data-js-toggle-button data-js-toggle-class=">clr-accent">
                            <span class="fts-12 fts-lg-18 ftw-700 lh-1-25 lh-lg-1-2778 mnh-30 mnh-lg-au clr-inh d-flex align-items-center">Какая стоимость кухни?</span>
                            <span class="p-abs r-29 t-0 b-0 d-none d-lg-flex align-items-center">
                                <span class="d-block tra-0-2s-ease opc-1 vsb-visb" data-plus data-js-toggle-class="opc-1>opc-0,vsb-visb>vsb-hidd">
                                    <i class="icon-plus fts-29 clr-accent"></i>
                                </span>
                                <span class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 d-flex justify-content-center align-items-center opc-0 vsb-hidd tra-0-2s-ease pdb-2" data-minus data-js-toggle-class="opc-0>opc-1,vsb-hidd>vsb-visb">
                                    <i class="icon-minus fts-6 clr-accent clr-secondary-13"></i>
                                </span>
                            </span>
                        </button>
                        <div data-js-toggle-block>
                            <div class="d-block pdt-8 pdb-15 pdt-lg-0 pdr-lg-0 pdb-lg-29 pdr-lg-90">
                                <p class="fts-12 fts-lg-16 ftw-500 lh-1-25">Мы также производим шкафы-купе и гардеробные. При необходимости, мы можем выполнить полную меблировку дома, начиная от кухни и заканчивая полочками. Это удобно для клиентов, которые хотят заказать все необходимое в одном месте.</p>
                            </div>
                        </div>
                    </li>
                    <li class="d-block br-0 brtw-1 brs-sol clr-black-br pdt-8 pdb-8 pdt-lg-10 pdb-lg-8" data-js-toggle-button-parent>
                        <button class="d-block btn-reset pdt-7 pdb-7 pdt-lg-19 pdb-lg-18 pdr-lg-90 w-100-p text-left p-rel z-i-1" type="button" data-js-toggle-button data-js-toggle-class=">clr-accent">
                            <span class="fts-12 fts-lg-18 ftw-700 lh-1-25 lh-lg-1-2778 mnh-30 mnh-lg-au clr-inh d-flex align-items-center">Какую мебель вы производите?</span>
                            <span class="p-abs r-29 t-0 b-0 d-none d-lg-flex align-items-center">
                                <span class="d-block tra-0-2s-ease opc-1 vsb-visb" data-plus data-js-toggle-class="opc-1>opc-0,vsb-visb>vsb-hidd">
                                    <i class="icon-plus fts-29 clr-accent"></i>
                                </span>
                                <span class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 d-flex justify-content-center align-items-center opc-0 vsb-hidd tra-0-2s-ease pdb-2" data-minus data-js-toggle-class="opc-0>opc-1,vsb-hidd>vsb-visb">
                                    <i class="icon-minus fts-6 clr-accent clr-secondary-13"></i>
                                </span>
                            </span>
                        </button>
                        <div data-js-toggle-block>
                            <div class="d-block pdt-8 pdb-15 pdt-lg-0 pdr-lg-0 pdb-lg-29 pdr-lg-90">
                                <p class="fts-12 fts-lg-16 ftw-500 lh-1-25">Мы также производим шкафы-купе и гардеробные. При необходимости, мы можем выполнить полную меблировку дома, начиная от кухни и заканчивая полочками. Это удобно для клиентов, которые хотят заказать все необходимое в одном месте.</p>
                            </div>
                        </div>
                    </li>
                    <li class="d-block br-0 brtw-1 brs-sol clr-black-br pdt-8 pdb-8 pdt-lg-10 pdb-lg-8" data-js-toggle-button-parent>
                        <button class="d-block btn-reset pdt-7 pdb-7 pdt-lg-19 pdb-lg-18 pdr-lg-90 w-100-p text-left p-rel z-i-1" type="button" data-js-toggle-button data-js-toggle-class=">clr-accent">
                            <span class="fts-12 fts-lg-18 ftw-700 lh-1-25 lh-lg-1-2778 mnh-30 mnh-lg-au clr-inh d-flex align-items-center">Какую мебель вы производите?</span>
                            <span class="p-abs r-29 t-0 b-0 d-none d-lg-flex align-items-center">
                                <span class="d-block tra-0-2s-ease opc-1 vsb-visb" data-plus data-js-toggle-class="opc-1>opc-0,vsb-visb>vsb-hidd">
                                    <i class="icon-plus fts-29 clr-accent"></i>
                                </span>
                                <span class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 d-flex justify-content-center align-items-center opc-0 vsb-hidd tra-0-2s-ease pdb-2" data-minus data-js-toggle-class="opc-0>opc-1,vsb-hidd>vsb-visb">
                                    <i class="icon-minus fts-6 clr-accent clr-secondary-13"></i>
                                </span>
                            </span>
                        </button>
                        <div data-js-toggle-block>
                            <div class="d-block pdt-8 pdb-15 pdt-lg-0 pdr-lg-0 pdb-lg-29 pdr-lg-90">
                                <p class="fts-12 fts-lg-16 ftw-500 lh-1-25">Мы также производим шкафы-купе и гардеробные. При необходимости, мы можем выполнить полную меблировку дома, начиная от кухни и заканчивая полочками. Это удобно для клиентов, которые хотят заказать все необходимое в одном месте.</p>
                            </div>
                        </div>
                    </li>
                    <li class="d-block br-0 brtw-1 brs-sol clr-black-br pdt-8 pdb-8 pdt-lg-10 pdb-lg-8" data-js-toggle-button-parent>
                        <button class="d-block btn-reset pdt-7 pdb-7 pdt-lg-19 pdb-lg-18 pdr-lg-90 w-100-p text-left p-rel z-i-1" type="button" data-js-toggle-button data-js-toggle-class=">clr-accent">
                            <span class="fts-12 fts-lg-18 ftw-700 lh-1-25 lh-lg-1-2778 mnh-30 mnh-lg-au clr-inh d-flex align-items-center">Как проходит работа?</span>
                            <span class="p-abs r-29 t-0 b-0 d-none d-lg-flex align-items-center">
                                <span class="d-block tra-0-2s-ease opc-1 vsb-visb" data-plus data-js-toggle-class="opc-1>opc-0,vsb-visb>vsb-hidd">
                                    <i class="icon-plus fts-29 clr-accent"></i>
                                </span>
                                <span class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 d-flex justify-content-center align-items-center opc-0 vsb-hidd tra-0-2s-ease pdb-2" data-minus data-js-toggle-class="opc-0>opc-1,vsb-hidd>vsb-visb">
                                    <i class="icon-minus fts-6 clr-accent clr-secondary-13"></i>
                                </span>
                            </span>
                        </button>
                        <div data-js-toggle-block>
                            <div class="d-block pdt-8 pdb-15 pdt-lg-0 pdr-lg-0 pdb-lg-29 pdr-lg-90">
                                <p class="fts-12 fts-lg-16 ftw-500 lh-1-25">Мы также производим шкафы-купе и гардеробные. При необходимости, мы можем выполнить полную меблировку дома, начиная от кухни и заканчивая полочками. Это удобно для клиентов, которые хотят заказать все необходимое в одном месте.</p>
                            </div>
                        </div>
                    </li>
                    <li class="d-block br-0 brtw-1 brs-sol clr-black-br pdt-8 pdb-8 pdt-lg-10 pdb-lg-8" data-js-toggle-button-parent>
                        <button class="d-block btn-reset pdt-7 pdb-7 pdt-lg-19 pdb-lg-18 pdr-lg-90 w-100-p text-left p-rel z-i-1" type="button" data-js-toggle-button data-js-toggle-class=">clr-accent">
                            <span class="fts-12 fts-lg-18 ftw-700 lh-1-25 lh-lg-1-2778 mnh-30 mnh-lg-au clr-inh d-flex align-items-center">Можно ли оформить рассрочку или кредит?</span>
                            <span class="p-abs r-29 t-0 b-0 d-none d-lg-flex align-items-center">
                                <span class="d-block tra-0-2s-ease opc-1 vsb-visb" data-plus data-js-toggle-class="opc-1>opc-0,vsb-visb>vsb-hidd">
                                    <i class="icon-plus fts-29 clr-accent"></i>
                                </span>
                                <span class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 d-flex justify-content-center align-items-center opc-0 vsb-hidd tra-0-2s-ease pdb-2" data-minus data-js-toggle-class="opc-0>opc-1,vsb-hidd>vsb-visb">
                                    <i class="icon-minus fts-6 clr-accent clr-secondary-13"></i>
                                </span>
                            </span>
                        </button>
                        <div data-js-toggle-block>
                            <div class="d-block pdt-8 pdb-15 pdt-lg-0 pdr-lg-0 pdb-lg-29 pdr-lg-90">
                                <p class="fts-12 fts-lg-16 ftw-500 lh-1-25">Мы также производим шкафы-купе и гардеробные. При необходимости, мы можем выполнить полную меблировку дома, начиная от кухни и заканчивая полочками. Это удобно для клиентов, которые хотят заказать все необходимое в одном месте.</p>
                            </div>
                        </div>
                    </li>
                    <li class="d-block br-0 brtw-1 brs-sol clr-black-br pdt-8 pdb-8 pdt-lg-10 pdb-lg-8" data-js-toggle-button-parent>
                        <button class="d-block btn-reset pdt-7 pdb-7 pdt-lg-19 pdb-lg-18 pdr-lg-90 w-100-p text-left p-rel z-i-1" type="button" data-js-toggle-button data-js-toggle-class=">clr-accent">
                            <span class="fts-12 fts-lg-18 ftw-700 lh-1-25 lh-lg-1-2778 mnh-30 mnh-lg-au clr-inh d-flex align-items-center">Предоставляете ли вы решение по встроенной технике?</span>
                            <span class="p-abs r-29 t-0 b-0 d-none d-lg-flex align-items-center">
                                <span class="d-block tra-0-2s-ease opc-1 vsb-visb" data-plus data-js-toggle-class="opc-1>opc-0,vsb-visb>vsb-hidd">
                                    <i class="icon-plus fts-29 clr-accent"></i>
                                </span>
                                <span class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 d-flex justify-content-center align-items-center opc-0 vsb-hidd tra-0-2s-ease pdb-2" data-minus data-js-toggle-class="opc-0>opc-1,vsb-hidd>vsb-visb">
                                    <i class="icon-minus fts-6 clr-accent clr-secondary-13"></i>
                                </span>
                            </span>
                        </button>
                        <div data-js-toggle-block>
                            <div class="d-block pdt-8 pdb-15 pdt-lg-0 pdr-lg-0 pdb-lg-29 pdr-lg-90">
                                <p class="fts-12 fts-lg-16 ftw-500 lh-1-25">Мы также производим шкафы-купе и гардеробные. При необходимости, мы можем выполнить полную меблировку дома, начиная от кухни и заканчивая полочками. Это удобно для клиентов, которые хотят заказать все необходимое в одном месте.</p>
                            </div>
                        </div>
                    </li>
                    <li class="d-block br-0 brtw-1 brs-sol clr-black-br pdt-8 pdb-8 pdt-lg-10 pdb-lg-8" data-js-toggle-button-parent>
                        <button class="d-block btn-reset pdt-7 pdb-7 pdt-lg-19 pdb-lg-18 pdr-lg-90 w-100-p text-left p-rel z-i-1" type="button" data-js-toggle-button data-js-toggle-class=">clr-accent">
                            <span class="fts-12 fts-lg-18 ftw-700 lh-1-25 lh-lg-1-2778 mnh-30 mnh-lg-au clr-inh d-flex align-items-center">Сколько времени занимает производство кухни?</span>
                            <span class="p-abs r-29 t-0 b-0 d-none d-lg-flex align-items-center">
                                <span class="d-block tra-0-2s-ease opc-1 vsb-visb" data-plus data-js-toggle-class="opc-1>opc-0,vsb-visb>vsb-hidd">
                                    <i class="icon-plus fts-29 clr-accent"></i>
                                </span>
                                <span class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 d-flex justify-content-center align-items-center opc-0 vsb-hidd tra-0-2s-ease pdb-2" data-minus data-js-toggle-class="opc-0>opc-1,vsb-hidd>vsb-visb">
                                    <i class="icon-minus fts-6 clr-accent clr-secondary-13"></i>
                                </span>
                            </span>
                        </button>
                        <div data-js-toggle-block>
                            <div class="d-block pdt-8 pdb-15 pdt-lg-0 pdr-lg-0 pdb-lg-29 pdr-lg-90">
                                <p class="fts-12 fts-lg-16 ftw-500 lh-1-25">Мы также производим шкафы-купе и гардеробные. При необходимости, мы можем выполнить полную меблировку дома, начиная от кухни и заканчивая полочками. Это удобно для клиентов, которые хотят заказать все необходимое в одном месте.</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <hr class="br-0 brtw-1 brs-sol clr-black-br w-100-p d-block mrt-0 mrb-0">
            </div>
        </section>
    </div>
</div>