<div>
    <div class="container">
        <section class="d-block pdt-32 pdb-29 pdt-lg-46 pdb-lg-75">
            <header class="d-block mrb-24 mrb-lg-57 text-center text-lg-left">
                <h2 class="fts-20 fts-lg-40 lh-1-2 ftw-700 clr-accent">Огромное количество<br>довольных клиентов</h2>
            </header>
            <div class="d-block">
                <div class="mrl-10- mrr-10-">
                    <div class="swiper swiper-slides-visible swiper-slides-visible-lg-3 swiper-slides-visible-lg-4 pdb-30 over-vis" id="carouselReviews">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide w-100-p mxw-320 mxw-lg-none pdl-10 pdr-10 h-au w-100-p mnh-lg-365">
                                <div class="pdl-19 pdr-19 pdb-35 pdt-22 pdl-lg-14 pdr-lg-14 pdb-lg-22 brtlr-21 brtrr-21 brbrr-21 brblr-21 bg-clr-white clr-black-2 mnh-100-p bxshw-primary flex-grow-1 mnw-0">
                                    <div class="mrl-15- mrr-15- mrb-23 d-flex justify-content-between">
                                        <div class="pdl-15 pdr-15 mnw-0 flex-shrink-0">
                                            <div class="pdt-14">
                                                <h4 class="fts-24 lh-1-2 ftw-700 mrb-18 mrb-16">Ирина</h4>
                                                <span class="fts-14 lh-1-2143 ftw-500 clr-accent d-block">20.04.23</span>
                                            </div>
                                        </div>
                                        <div class="pdl-15 pdr-15 mnw-0 flex-shrink-0">
                                            <div class="pdr-10">
                                                <span class="d-block p-rel z-i-1 h-90 w-90">
                                                    <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv brr-50-p h-100-p w-100-p" src="./img/section-reviews/image-1.jpg" alt="Ирина">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pdr-10">
                                        <p class="ftw-300">Lorem ipsum dolor sit amet consectetur. Faucibus purus malesuada eget et mauris maecenas id. Praesent blandit fermentum amet risus. Laoreet et malesuada quis varius vitae vitae felis dui. Sit tincidunt viverra leo venenatis diam amet tempor at. Ac nunc consequat.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide w-100-p mxw-320 mxw-lg-none pdl-10 pdr-10 h-au w-100-p mnh-lg-365">
                                <div class="pdl-19 pdr-19 pdb-35 pdt-22 pdl-lg-14 pdr-lg-14 pdb-lg-22 brtlr-21 brtrr-21 brbrr-21 brblr-21 bg-clr-white clr-black-2 mnh-100-p bxshw-primary flex-grow-1 mnw-0">
                                    <div class="mrl-15- mrr-15- mrb-23 d-flex justify-content-between">
                                        <div class="pdl-15 pdr-15 mnw-0 flex-shrink-0">
                                            <div class="pdt-14">
                                                <h4 class="fts-24 lh-1-2 ftw-700 mrb-18 mrb-16">Ирина</h4>
                                                <span class="fts-14 lh-1-2143 ftw-500 clr-accent d-block">20.04.23</span>
                                            </div>
                                        </div>
                                        <div class="pdl-15 pdr-15 mnw-0 flex-shrink-0">
                                            <div class="pdr-10">
                                                <span class="d-block p-rel z-i-1 h-90 w-90">
                                                    <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv brr-50-p h-100-p w-100-p" src="./img/section-reviews/image-2.jpg" alt="Ирина">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pdr-10">
                                        <p class="ftw-300">Lorem ipsum dolor sit amet consectetur. Faucibus purus malesuada eget et mauris maecenas id. Praesent blandit fermentum amet risus. Laoreet et malesuada quis varius vitae vitae felis dui. Sit tincidunt viverra leo venenatis diam amet tempor at. Ac nunc consequat.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide w-100-p mxw-320 mxw-lg-none pdl-10 pdr-10 h-au w-100-p mnh-lg-365">
                                <div class="pdl-19 pdr-19 pdb-35 pdt-22 pdl-lg-14 pdr-lg-14 pdb-lg-22 brtlr-21 brtrr-21 brbrr-21 brblr-21 bg-clr-white clr-black-2 mnh-100-p bxshw-primary flex-grow-1 mnw-0">
                                    <div class="mrl-15- mrr-15- mrb-23 d-flex justify-content-between">
                                        <div class="pdl-15 pdr-15 mnw-0 flex-shrink-0">
                                            <div class="pdt-14">
                                                <h4 class="fts-24 lh-1-2 ftw-700 mrb-18 mrb-16">Ирина</h4>
                                                <span class="fts-14 lh-1-2143 ftw-500 clr-accent d-block">20.04.23</span>
                                            </div>
                                        </div>
                                        <div class="pdl-15 pdr-15 mnw-0 flex-shrink-0">
                                            <div class="pdr-10">
                                                <span class="d-block p-rel z-i-1 h-90 w-90">
                                                    <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv brr-50-p h-100-p w-100-p" src="./img/section-reviews/image-3.jpg" alt="Ирина">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pdr-10">
                                        <p class="ftw-300">Lorem ipsum dolor sit amet consectetur. Faucibus purus malesuada eget et mauris maecenas id. Praesent blandit fermentum amet risus. Laoreet et malesuada quis varius vitae vitae felis dui. Sit tincidunt viverra leo venenatis diam amet tempor at. Ac nunc consequat.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide w-100-p mxw-320 mxw-lg-none pdl-10 pdr-10 h-au w-100-p mnh-lg-365">
                                <div class="pdl-19 pdr-19 pdb-35 pdt-22 pdl-lg-14 pdr-lg-14 pdb-lg-22 brtlr-21 brtrr-21 brbrr-21 brblr-21 bg-clr-white clr-black-2 mnh-100-p bxshw-primary flex-grow-1 mnw-0">
                                    <div class="mrl-15- mrr-15- mrb-23 d-flex justify-content-between">
                                        <div class="pdl-15 pdr-15 mnw-0 flex-shrink-0">
                                            <div class="pdt-14">
                                                <h4 class="fts-24 lh-1-2 ftw-700 mrb-18 mrb-16">Ирина</h4>
                                                <span class="fts-14 lh-1-2143 ftw-500 clr-accent d-block">20.04.23</span>
                                            </div>
                                        </div>
                                        <div class="pdl-15 pdr-15 mnw-0 flex-shrink-0">
                                            <div class="pdr-10">
                                                <span class="d-block p-rel z-i-1 h-90 w-90">
                                                    <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv brr-50-p h-100-p w-100-p" src="./img/section-reviews/image-4.jpg" alt="Ирина">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pdr-10">
                                        <p class="ftw-300">Lorem ipsum dolor sit amet consectetur. Faucibus purus malesuada eget et mauris maecenas id. Praesent blandit fermentum amet risus. Laoreet et malesuada quis varius vitae vitae felis dui. Sit tincidunt viverra leo venenatis diam amet tempor at. Ac nunc consequat.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide w-100-p mxw-320 mxw-lg-none pdl-10 pdr-10 h-au w-100-p mnh-lg-365">
                                <div class="pdl-19 pdr-19 pdb-35 pdt-22 pdl-lg-14 pdr-lg-14 pdb-lg-22 brtlr-21 brtrr-21 brbrr-21 brblr-21 bg-clr-white clr-black-2 mnh-100-p bxshw-primary flex-grow-1 mnw-0">
                                    <div class="mrl-15- mrr-15- mrb-23 d-flex justify-content-between">
                                        <div class="pdl-15 pdr-15 mnw-0 flex-shrink-0">
                                            <div class="pdt-14">
                                                <h4 class="fts-24 lh-1-2 ftw-700 mrb-18 mrb-16">Ирина</h4>
                                                <span class="fts-14 lh-1-2143 ftw-500 clr-accent d-block">20.04.23</span>
                                            </div>
                                        </div>
                                        <div class="pdl-15 pdr-15 mnw-0 flex-shrink-0">
                                            <div class="pdr-10">
                                                <span class="d-block p-rel z-i-1 h-90 w-90">
                                                    <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv brr-50-p h-100-p w-100-p" src="./img/section-reviews/image-1.jpg" alt="Ирина">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pdr-10">
                                        <p class="ftw-300">Lorem ipsum dolor sit amet consectetur. Faucibus purus malesuada eget et mauris maecenas id. Praesent blandit fermentum amet risus. Laoreet et malesuada quis varius vitae vitae felis dui. Sit tincidunt viverra leo venenatis diam amet tempor at. Ac nunc consequat.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide w-100-p mxw-320 mxw-lg-none pdl-10 pdr-10 h-au w-100-p mnh-lg-365">
                                <div class="pdl-19 pdr-19 pdb-35 pdt-22 pdl-lg-14 pdr-lg-14 pdb-lg-22 brtlr-21 brtrr-21 brbrr-21 brblr-21 bg-clr-white clr-black-2 mnh-100-p bxshw-primary flex-grow-1 mnw-0">
                                    <div class="mrl-15- mrr-15- mrb-23 d-flex justify-content-between">
                                        <div class="pdl-15 pdr-15 mnw-0 flex-shrink-0">
                                            <div class="pdt-14">
                                                <h4 class="fts-24 lh-1-2 ftw-700 mrb-18 mrb-16">Ирина</h4>
                                                <span class="fts-14 lh-1-2143 ftw-500 clr-accent d-block">20.04.23</span>
                                            </div>
                                        </div>
                                        <div class="pdl-15 pdr-15 mnw-0 flex-shrink-0">
                                            <div class="pdr-10">
                                                <span class="d-block p-rel z-i-1 h-90 w-90">
                                                    <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv brr-50-p h-100-p w-100-p" src="./img/section-reviews/image-2.jpg" alt="Ирина">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pdr-10">
                                        <p class="ftw-300">Lorem ipsum dolor sit amet consectetur. Faucibus purus malesuada eget et mauris maecenas id. Praesent blandit fermentum amet risus. Laoreet et malesuada quis varius vitae vitae felis dui. Sit tincidunt viverra leo venenatis diam amet tempor at. Ac nunc consequat.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide w-100-p mxw-320 mxw-lg-none pdl-10 pdr-10 h-au w-100-p mnh-lg-365">
                                <div class="pdl-19 pdr-19 pdb-35 pdt-22 pdl-lg-14 pdr-lg-14 pdb-lg-22 brtlr-21 brtrr-21 brbrr-21 brblr-21 bg-clr-white clr-black-2 mnh-100-p bxshw-primary flex-grow-1 mnw-0">
                                    <div class="mrl-15- mrr-15- mrb-23 d-flex justify-content-between">
                                        <div class="pdl-15 pdr-15 mnw-0 flex-shrink-0">
                                            <div class="pdt-14">
                                                <h4 class="fts-24 lh-1-2 ftw-700 mrb-18 mrb-16">Ирина</h4>
                                                <span class="fts-14 lh-1-2143 ftw-500 clr-accent d-block">20.04.23</span>
                                            </div>
                                        </div>
                                        <div class="pdl-15 pdr-15 mnw-0 flex-shrink-0">
                                            <div class="pdr-10">
                                                <span class="d-block p-rel z-i-1 h-90 w-90">
                                                    <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv brr-50-p h-100-p w-100-p" src="./img/section-reviews/image-3.jpg" alt="Ирина">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pdr-10">
                                        <p class="ftw-300">Lorem ipsum dolor sit amet consectetur. Faucibus purus malesuada eget et mauris maecenas id. Praesent blandit fermentum amet risus. Laoreet et malesuada quis varius vitae vitae felis dui. Sit tincidunt viverra leo venenatis diam amet tempor at. Ac nunc consequat.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide w-100-p mxw-320 mxw-lg-none pdl-10 pdr-10 h-au w-100-p mnh-lg-365">
                                <div class="pdl-19 pdr-19 pdb-35 pdt-22 pdl-lg-14 pdr-lg-14 pdb-lg-22 brtlr-21 brtrr-21 brbrr-21 brblr-21 bg-clr-white clr-black-2 mnh-100-p bxshw-primary flex-grow-1 mnw-0">
                                    <div class="mrl-15- mrr-15- mrb-23 d-flex justify-content-between">
                                        <div class="pdl-15 pdr-15 mnw-0 flex-shrink-0">
                                            <div class="pdt-14">
                                                <h4 class="fts-24 lh-1-2 ftw-700 mrb-18 mrb-16">Ирина</h4>
                                                <span class="fts-14 lh-1-2143 ftw-500 clr-accent d-block">20.04.23</span>
                                            </div>
                                        </div>
                                        <div class="pdl-15 pdr-15 mnw-0 flex-shrink-0">
                                            <div class="pdr-10">
                                                <span class="d-block p-rel z-i-1 h-90 w-90">
                                                    <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv brr-50-p h-100-p w-100-p" src="./img/section-reviews/image-4.jpg" alt="Ирина">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pdr-10">
                                        <p class="ftw-300">Lorem ipsum dolor sit amet consectetur. Faucibus purus malesuada eget et mauris maecenas id. Praesent blandit fermentum amet risus. Laoreet et malesuada quis varius vitae vitae felis dui. Sit tincidunt viverra leo venenatis diam amet tempor at. Ac nunc consequat.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- If we need pagination -->
                        <div class="d-none justify-content-center">
                            <div class="swiper-pagination mrt-40 mrt-md-61 mrt-lg-40"></div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <button class="swiper-button-prev btn-reset p-abs t-50-p t-trY-50-p- mrt-15- l-28- z-i-100 clr-secondary-8 clr-accent-h h-au w-au d-none d-lg-block">
                            <span class="d-block pdt-5 pdr-5 pdb-5 pdl-5 mrt-5- mrr-5- mrb-5- mrl-5-">
                                <span class="d-block h-77 w-77 brr-50-p pdt-6 pdr-6 pdb-6 pdl-6">
                                    <span class="d-block bg-clr-crc h-100-p w-100-p brr-inh d-flex justify-content-center align-items-center tra-0-3s-ease">
                                        <i class="icon-arrow-left clr-white fts-24 p-rel l-4- t-1-"></i>
                                    </span>
                                    <span class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1- w-100-p h-100-p brr-50-p brw-3 brs-sol clr-crc-br tra-0-3s-ease"></span>
                                </span>
                            </span>
                        </button>
                        <button class="swiper-button-next btn-reset p-abs t-50-p t-trY-50-p- mrt-15- r-28- z-i-100 clr-secondary-8 clr-accent-h h-au w-au d-none d-lg-block">
                            <span class="d-block pdt-5 pdr-5 pdb-5 pdl-5 mrt-5- mrr-5- mrb-5- mrl-5-">
                                <span class="d-block h-77 w-77 brr-50-p pdt-6 pdr-6 pdb-6 pdl-6">
                                    <span class="d-block bg-clr-crc h-100-p w-100-p brr-inh d-flex justify-content-center align-items-center tra-0-3s-ease">
                                        <i class="icon-arrow-right clr-white fts-24 p-rel r-4- t-1-"></i>
                                    </span>
                                    <span class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1- w-100-p h-100-p brr-50-p brw-3 brs-sol clr-crc-br tra-0-3s-ease"></span>
                                </span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>