<div>
    <div class="container">
        <section class="d-block pdt-29 pdb-44 pdt-lg-75 pdb-lg-96">
            <header class="d-none mrb-38">
                <h2 class="fts-40 lh-1-2 ftw-700 clr-accent">&nbsp;</h2>
            </header>
            <div class="d-block">
                <div class="mrl-28- mrr-28- mrb-48- mrb-lg-0 row">
                    <div class="col-12 col-lg-6 pdl-28 pdr-28 mnw-0 pdb-48 pdb-lg-0">
                        <div class="mnh-100-p d-flex flex-column">
                            <div class="mrb-27 mrb-lg-15 pdl-lg-42 pdr-lg-42 mrb-lg-46 mnw-0 flex-grow-1">
                                <h2 class="fts-20 fts-lg-40 lh-1-2 ftw-700 clr-accent mrb-20 mrb-lg-32 text-center text-lg-left">Фото производства</h2>
                                <div class="d-block">
                                    <div class="mrl-5- mrr-5- mrl-lg-8- mrr-lg-8- d-flex align-items-center align-items-lg-start">
                                        <div class="pdl-5 pdr-5 pdl-lg-8 pdr-lg-8 pdt-lg-0">
                                            <span class="d-block fts-30 fts-lg-51 ftw-700 clr-accent lh-0-8628">45%</span>
                                        </div>
                                        <div class="pdl-5 pdr-5 pdl-lg-8 pdr-lg-8">
                                            <p class="lh-1-1667 lh-lg-1-1875 ftw-300 pdr-lg-20">Lorem ipsum dolor sit amet consectetur. Faucibus purus malesuada eget et mauris maecenas i</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pdl-lg-42 pdr-lg-42 p-rel z-i-1 mnw-0">
                                <div class="d-block">
                                    <div class="p-rel z-i-1">
                                        <div class="swiper carousePhotos over-vis">
                                            <!-- Additional required wrapper -->
                                            <div class="swiper-wrapper over-hid">
                                                <!-- Slides -->
                                                <div class="swiper-slide w-100-p h-au">
                                                    <span class="d-block over-hid p-rel z-i-1 brtlr-12 brtrr-12 brbrr-12 brblr-12 pdb-73-5-p pdb-lg-72-134-p">
                                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-photos/photo-picture-1.jpg" alt="photo">
                                                        <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-46-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brtlr-12 brtrr-12 brbrr-12 brblr-12"></span>
                                                    </span>
                                                </div>
                                                <div class="swiper-slide w-100-p h-au">
                                                    <span class="d-block over-hid p-rel z-i-1 brtlr-12 brtrr-12 brbrr-12 brblr-12 pdb-73-5-p pdb-lg-72-134-p">
                                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-photos/photo-picture-2.jpg" alt="photo">
                                                        <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-46-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brtlr-12 brtrr-12 brbrr-12 brblr-12"></span>
                                                    </span>
                                                </div>
                                                <div class="swiper-slide w-100-p h-au">
                                                    <span class="d-block over-hid p-rel z-i-1 brtlr-12 brtrr-12 brbrr-12 brblr-12 pdb-73-5-p pdb-lg-72-134-p">
                                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-photos/photo-picture-1.jpg" alt="photo">
                                                        <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-46-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brtlr-12 brtrr-12 brbrr-12 brblr-12"></span>
                                                    </span>
                                                </div>
                                                <div class="swiper-slide w-100-p h-au">
                                                    <span class="d-block over-hid p-rel z-i-1 brtlr-12 brtrr-12 brbrr-12 brblr-12 pdb-73-5-p pdb-lg-72-134-p">
                                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-photos/photo-picture-2.jpg" alt="photo">
                                                        <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-46-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brtlr-12 brtrr-12 brbrr-12 brblr-12"></span>
                                                    </span>
                                                </div>
                                                <div class="swiper-slide w-100-p h-au">
                                                    <span class="d-block over-hid p-rel z-i-1 brtlr-12 brtrr-12 brbrr-12 brblr-12 pdb-73-5-p pdb-lg-72-134-p">
                                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-photos/photo-picture-1.jpg" alt="photo">
                                                        <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-46-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brtlr-12 brtrr-12 brbrr-12 brblr-12"></span>
                                                    </span>
                                                </div>
                                                <div class="swiper-slide w-100-p h-au">
                                                    <span class="d-block over-hid p-rel z-i-1 brtlr-12 brtrr-12 brbrr-12 brblr-12 pdb-73-5-p pdb-lg-72-134-p">
                                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-photos/photo-picture-2.jpg" alt="photo">
                                                        <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-46-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brtlr-12 brtrr-12 brbrr-12 brblr-12"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- If we need pagination -->
                                            <div class="d-flex justify-content-center">
                                                <div class="swiper-pagination pdt-20 pdt-lg-24"></div>
                                            </div>
                                            <!-- If we need navigation buttons -->
                                            <button class="swiper-button-prev btn-reset d-none d-lg-block p-abs t-100 mrt-38 l-48- z-i-100 clr-secondary-8 clr-accent-h h-au w-au">
                                                <span class="d-block pdt-5 pdr-5 pdb-5 pdl-5 mrt-5- mrr-5- mrb-5- mrl-5-">
                                                    <span class="d-block h-77 w-77 brr-50-p pdt-6 pdr-6 pdb-6 pdl-6">
                                                        <span class="d-block bg-clr-crc h-100-p w-100-p brr-inh d-flex justify-content-center align-items-center tra-0-3s-ease">
                                                            <i class="icon-arrow-left clr-white fts-24 p-rel l-4- t-1-"></i>
                                                        </span>
                                                        <span class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1- w-100-p h-100-p brr-50-p brw-3 brs-sol clr-crc-br tra-0-3s-ease"></span>
                                                    </span>
                                                </span>
                                            </button>
                                            <button class="swiper-button-next btn-reset d-none d-lg-block p-abs t-100 mrt-xl-38 r-48- z-i-100 clr-secondary-8 clr-accent-h h-au w-au">
                                                <span class="d-block pdt-5 pdr-5 pdb-5 pdl-5 mrt-5- mrr-5- mrb-5- mrl-5-">
                                                    <span class="d-block h-77 w-77 brr-50-p pdt-6 pdr-6 pdb-6 pdl-6">
                                                        <span class="d-block bg-clr-crc h-100-p w-100-p brr-inh d-flex justify-content-center align-items-center tra-0-3s-ease">
                                                            <i class="icon-arrow-right clr-white fts-24 p-rel r-4- t-1-"></i>
                                                        </span>
                                                        <span class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1- w-100-p h-100-p brr-50-p brw-3 brs-sol clr-crc-br tra-0-3s-ease"></span>
                                                    </span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 pdl-28 pdr-28 mnw-0 pdb-48 pdb-lg-0">
                        <div class="mnh-100-p d-flex flex-column">
                            <div class="mrb-27 mrb-lg-15 pdl-lg-42 pdr-lg-42 mrb-lg-46 mnw-0 flex-grow-1">
                                <h2 class="fts-20 fts-lg-40 lh-1-2 ftw-700 clr-accent mrb-20 mrb-lg-32 text-center text-lg-left">Фото наших шоурумов</h2>
                                <div class="d-block">
                                    <div class="mrl-5- mrr-5- mrl-lg-8- mrr-lg-8- d-flex align-items-center align-items-lg-start">
                                        <div class="pdl-5 pdr-5 pdl-lg-8 pdr-lg-8">
                                            <p class="lh-1-1667 lh-lg-1-1875 ftw-300 pdr-lg-20">Lorem ipsum dolor sit amet consectetur. Faucibus purus malesuada eget et mauris maecenas i</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pdl-lg-42 pdr-lg-42 p-rel z-i-1 mnw-0">
                                <div class="d-block">
                                    <div class="p-rel z-i-1">
                                        <div class="swiper carousePhotos over-vis">
                                            <!-- Additional required wrapper -->
                                            <div class="swiper-wrapper over-hid">
                                                <!-- Slides -->
                                                <div class="swiper-slide w-100-p h-au">
                                                    <span class="d-block over-hid p-rel z-i-1 brtlr-12 brtrr-12 brbrr-12 brblr-12 pdb-73-5-p pdb-lg-72-134-p">
                                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-photos/photo-picture-1.jpg" alt="photo">
                                                        <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-46-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brtlr-12 brtrr-12 brbrr-12 brblr-12"></span>
                                                    </span>
                                                </div>
                                                <div class="swiper-slide w-100-p h-au">
                                                    <span class="d-block over-hid p-rel z-i-1 brtlr-12 brtrr-12 brbrr-12 brblr-12 pdb-73-5-p pdb-lg-72-134-p">
                                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-photos/photo-picture-2.jpg" alt="photo">
                                                        <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-46-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brtlr-12 brtrr-12 brbrr-12 brblr-12"></span>
                                                    </span>
                                                </div>
                                                <div class="swiper-slide w-100-p h-au">
                                                    <span class="d-block over-hid p-rel z-i-1 brtlr-12 brtrr-12 brbrr-12 brblr-12 pdb-73-5-p pdb-lg-72-134-p">
                                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-photos/photo-picture-1.jpg" alt="photo">
                                                        <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-46-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brtlr-12 brtrr-12 brbrr-12 brblr-12"></span>
                                                    </span>
                                                </div>
                                                <div class="swiper-slide w-100-p h-au">
                                                    <span class="d-block over-hid p-rel z-i-1 brtlr-12 brtrr-12 brbrr-12 brblr-12 pdb-73-5-p pdb-lg-72-134-p">
                                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-photos/photo-picture-2.jpg" alt="photo">
                                                        <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-46-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brtlr-12 brtrr-12 brbrr-12 brblr-12"></span>
                                                    </span>
                                                </div>
                                                <div class="swiper-slide w-100-p h-au">
                                                    <span class="d-block over-hid p-rel z-i-1 brtlr-12 brtrr-12 brbrr-12 brblr-12 pdb-73-5-p pdb-lg-72-134-p">
                                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-photos/photo-picture-1.jpg" alt="photo">
                                                        <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-46-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brtlr-12 brtrr-12 brbrr-12 brblr-12"></span>
                                                    </span>
                                                </div>
                                                <div class="swiper-slide w-100-p h-au">
                                                    <span class="d-block over-hid p-rel z-i-1 brtlr-12 brtrr-12 brbrr-12 brblr-12 pdb-73-5-p pdb-lg-72-134-p">
                                                        <img class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1 objf-cv mxh-100-p h-100-p w-100-p brtlr-12 brtrr-12 brbrr-12 brblr-12" src="./img/section-photos/photo-picture-2.jpg" alt="photo">
                                                        <span class="d-block p-abs r-0 b-0 l-0 z-i-10 h-46-p w-100-p brblr-inh brbrr-inh bg-lngr-primary brtlr-12 brtrr-12 brbrr-12 brblr-12"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- If we need pagination -->
                                            <div class="d-flex justify-content-center">
                                                <div class="swiper-pagination pdt-20 pdt-lg-24"></div>
                                            </div>
                                            <!-- If we need navigation buttons -->
                                            <button class="swiper-button-prev btn-reset d-none d-lg-block p-abs t-100 mrt-38 l-48- z-i-100 clr-secondary-8 clr-accent-h h-au w-au">
                                                <span class="d-block pdt-5 pdr-5 pdb-5 pdl-5 mrt-5- mrr-5- mrb-5- mrl-5-">
                                                    <span class="d-block h-77 w-77 brr-50-p pdt-6 pdr-6 pdb-6 pdl-6">
                                                        <span class="d-block bg-clr-crc h-100-p w-100-p brr-inh d-flex justify-content-center align-items-center tra-0-3s-ease">
                                                            <i class="icon-arrow-left clr-white fts-24 p-rel l-4- t-1-"></i>
                                                        </span>
                                                        <span class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1- w-100-p h-100-p brr-50-p brw-3 brs-sol clr-crc-br tra-0-3s-ease"></span>
                                                    </span>
                                                </span>
                                            </button>
                                            <button class="swiper-button-next btn-reset d-none d-lg-block p-abs t-100 mrt-xl-38 r-48- z-i-100 clr-secondary-8 clr-accent-h h-au w-au">
                                                <span class="d-block pdt-5 pdr-5 pdb-5 pdl-5 mrt-5- mrr-5- mrb-5- mrl-5-">
                                                    <span class="d-block h-77 w-77 brr-50-p pdt-6 pdr-6 pdb-6 pdl-6">
                                                        <span class="d-block bg-clr-crc h-100-p w-100-p brr-inh d-flex justify-content-center align-items-center tra-0-3s-ease">
                                                            <i class="icon-arrow-right clr-white fts-24 p-rel r-4- t-1-"></i>
                                                        </span>
                                                        <span class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1- w-100-p h-100-p brr-50-p brw-3 brs-sol clr-crc-br tra-0-3s-ease"></span>
                                                    </span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>