<div>
    <div class="container">
        <section class="d-block pdt-31 pdt-lg-44 pdb-lg-97">
            <header class="d-none">
                <h2 class="fts-40 lh-1-2 ftw-700 clr-accent mrb-35">&nbsp;</h2>
            </header>
            <div class="d-block">
                <div class="row mrl-10- mrr-10-">
                    <div class="pdl-10 pdr-10 pdb-24 pdb-lg-0 pdl-lg-15 pdr-lg-15 col-12 col-xl-8 pdt-4 order-lg-1">
                        <h2 class="fts-20 fts-lg-40 lh-1-2 ftw-700 clr-accent mrb-24 mrb-lg-63 text-center d-lg-none">Столько бонусов вы получите при заказе кухни:</h2>
                        <ul class="list-reset row mrl-10- mrr-10- mrb-12- mrb-lg-23-">
                            <!-- у картинок меняется классы позиции, также в 3 блоке для описания заданы доп отступы -->
                            <li class="col-12 col-sm-6 pdl-10 pdr-10 mnh-lg-285 mrb-12 mrb-lg-23">
                                <div class="pdt-22 pdl-25 pdb-26 pdl-lg-31 pdt-lg-35 pdb-lg-27 brtlr-13 brtrr-13 brbrr-13 brblr-13 bg-clr-white clr-black-2 mnh-220 mnh-sm-100-p p-rel z-i-1 over-hid">
                                    <div>
                                        <span class="d-block fts-40 lh-1-2 ftw-700 clr-accent opc-0-5 p-abs r-8 t-8 r-lg-24 t-lg-12 z-i-1">01</span>
                                        <h4 class="fts-16 fts-lg-24 lh-1-1875 lh-lg-1-2 ftw-700 mrb-21 mrb-lg-17">Консультация<br> дизайнера</h4>
                                        <div class="pdr-100 mrr-30 mrr-lg-52">
                                            <p class="ftw-500">Lorem ipsum dolor sit amet consectetur. A viverra sed fames mattis tempor cras tortor commodo. Dignissim aliquam.</p>
                                        </div>
                                        <span class="d-block p-abs b-0 r-19- r-lg-0 b-lg-3 z-i-1-">
                                            <img class="d-block w-136 w-lg-au" src="./img/section-bonus/picture-1.jpg" alt="picture">
                                        </span>
                                        <span class="d-block p-abs r-10 b-4 r-lg-14 b-lg-8 z-i-10">
                                            <span class="d-block h-62 w-62 h-lg-79 w-lg-79 pdt-6 pdr-6 pdb-6 pdl-6 pdt-lg-8 pdr-lg-8 pdb-lg-8 pdl-lg-8 brr-50-p p-rel z-i-1">
                                                <span class="clr-white brr-inh bg-clr-tertiary mnh-100-p w-100-p text-center d-flex flex-column justify-content-center align-items-center">
                                                    <span>
                                                        <i class="icon-gift fts-36 fts-lg-45"></i>
                                                    </span>
                                                </span>
                                                <span class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1- brw-1 brs-sol clr-tertiary-br brr-inh fltr-blr-2"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="col-12 col-sm-6 pdl-10 pdr-10 mnh-lg-285 mrb-12 mrb-lg-23">
                                <div class="pdt-22 pdl-25 pdb-26 pdl-lg-31 pdt-lg-35 pdb-lg-27 brtlr-13 brtrr-13 brbrr-13 brblr-13 bg-clr-white clr-black-2 mnh-220 mnh-sm-100-p p-rel z-i-1 over-hid">
                                    <div>
                                        <span class="d-block fts-40 lh-1-2 ftw-700 clr-accent opc-0-5 p-abs r-8 t-8 r-lg-24 t-lg-12 z-i-1">02</span>
                                        <h4 class="fts-16 fts-lg-24 lh-1-1875 lh-lg-1-2 ftw-700 mrb-21 mrb-lg-17">Выезд<br> замерщика</h4>
                                        <div class="pdr-100 mrr-30 mrr-lg-52">
                                            <p class="ftw-500">Lorem ipsum dolor sit amet consectetur. A viverra sed fames mattis tempor cras tortor commodo. Dignissim aliquam.</p>
                                        </div>
                                        <span class="d-block p-abs r-16 b-25 r-lg-14 b-lg-34 z-i-1-">
                                            <img class="d-block w-120 w-lg-au" src="./img/section-bonus/picture-2.jpg" alt="picture">
                                        </span>
                                        <span class="d-block p-abs r-10 b-4 r-lg-14 b-lg-8 z-i-10">
                                            <span class="d-block h-62 w-62 h-lg-79 w-lg-79 pdt-6 pdr-6 pdb-6 pdl-6 pdt-lg-8 pdr-lg-8 pdb-lg-8 pdl-lg-8 brr-50-p p-rel z-i-1">
                                                <span class="clr-white brr-inh bg-clr-tertiary mnh-100-p w-100-p text-center d-flex flex-column justify-content-center align-items-center">
                                                    <span>
                                                        <i class="icon-gift fts-36 fts-lg-45"></i>
                                                    </span>
                                                </span>
                                                <span class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1- brw-1 brs-sol clr-tertiary-br brr-inh fltr-blr-2"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="col-12 col-sm-6 pdl-10 pdr-10 mnh-lg-285 mrb-12 mrb-lg-23">
                                <div class="pdt-22 pdl-25 pdb-26 pdl-lg-31 pdt-lg-35 pdb-lg-27 brtlr-13 brtrr-13 brbrr-13 brblr-13 bg-clr-white clr-black-2 mnh-220 mnh-sm-100-p p-rel z-i-1 over-hid">
                                    <div>
                                        <span class="d-block fts-40 lh-1-2 ftw-700 clr-accent opc-0-5 p-abs r-8 t-8 r-lg-24 t-lg-12 z-i-1">03</span>
                                        <h4 class="fts-16 fts-lg-24 lh-1-1875 lh-lg-1-2 ftw-700 mrb-21 mrb-lg-17">Расчет вашей<br> будущей кухни</h4>
                                        <div class="pdr-100 mrr-20 mrr-lg-84">
                                            <p class="ftw-500">Lorem ipsum dolor sit amet consectetur. A viverra sed fames mattis tempor cras tortor commodo. Dignissim aliquam.</p>
                                        </div>
                                        <span class="d-block p-abs r-4 b-10 r-lg-24 b-lg-34 z-i-1-">
                                            <img class="d-block w-111 w-lg-au" src="./img/section-bonus/picture-3.jpg" alt="picture">
                                        </span>
                                        <span class="d-block p-abs r-10 b-4 r-lg-14 b-lg-8 z-i-10">
                                            <span class="d-block h-62 w-62 h-lg-79 w-lg-79 pdt-6 pdr-6 pdb-6 pdl-6 pdt-lg-8 pdr-lg-8 pdb-lg-8 pdl-lg-8 brr-50-p p-rel z-i-1">
                                                <span class="clr-white brr-inh bg-clr-tertiary mnh-100-p w-100-p text-center d-flex flex-column justify-content-center align-items-center">
                                                    <span>
                                                        <i class="icon-gift fts-36 fts-lg-45"></i>
                                                    </span>
                                                </span>
                                                <span class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1- brw-1 brs-sol clr-tertiary-br brr-inh fltr-blr-2"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="col-12 col-sm-6 pdl-10 pdr-10 mnh-lg-285 mrb-12 mrb-lg-23">
                                <div class="pdt-22 pdl-25 pdb-26 pdl-lg-31 pdt-lg-35 pdb-lg-27 brtlr-13 brtrr-13 brbrr-13 brblr-13 bg-clr-white clr-black-2 mnh-220 mnh-sm-100-p p-rel z-i-1 over-hid">
                                    <div>
                                        <span class="d-block fts-40 lh-1-2 ftw-700 clr-accent opc-0-5 p-abs r-8 t-8 r-lg-24 t-lg-12 z-i-1">04</span>
                                        <h4 class="fts-16 fts-lg-24 lh-1-1875 lh-lg-1-2 ftw-700 mrb-21 mrb-lg-17">Эскизы кухни<br> по вашим предпочтениям</h4>
                                        <div class="pdr-100 mrr-30 mrr-lg-52">
                                            <p class="ftw-500">Lorem ipsum dolor sit amet consectetur. A viverra sed fames mattis tempor cras tortor commodo. Dignissim aliquam.</p>
                                        </div>
                                        <span class="d-block p-abs r-1 b-0 z-i-1-">
                                            <img class="d-block w-138 w-lg-au" src="./img/section-bonus/picture-4.jpg" alt="picture">
                                        </span>
                                        <span class="d-block p-abs r-10 b-4 r-lg-14 b-lg-8 z-i-10">
                                            <span class="d-block h-62 w-62 h-lg-79 w-lg-79 pdt-6 pdr-6 pdb-6 pdl-6 pdt-lg-8 pdr-lg-8 pdb-lg-8 pdl-lg-8 brr-50-p p-rel z-i-1">
                                                <span class="clr-white brr-inh bg-clr-tertiary mnh-100-p w-100-p text-center d-flex flex-column justify-content-center align-items-center">
                                                    <span>
                                                        <i class="icon-gift fts-36 fts-lg-45"></i>
                                                    </span>
                                                </span>
                                                <span class="d-block p-abs t-0 r-0 b-0 l-0 z-i-1- brw-1 brs-sol clr-tertiary-br brr-inh fltr-blr-2"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="pdl-10 pdr-10 pdt-23 pdt-lg-0 pdl-lg-15 pdr-lg-15 col-12 col-xl-4 pdl-10 pdr-10 pdb-lg-50 pdb-xl-0">
                        <div class="text-lg-center text-xl-left pdl-lg-100 pdr-lg-100 pdl-xl-0 pdr-xl-0">
                            <h2 class="fts-20 fts-lg-40 lh-1-2 ftw-700 clr-accent mrb-63 d-none d-lg-block">Столько бонусов вы получите при заказе кухни:</h2>
                            <p class="ftw-500 mrb-22 fts-16">Связаться с менеджером:</p>
                            <div class="d-flex justify-content-center justify-content-xl-start" data-js-button-input-change-item>
                                <div class="mnw-0">
                                    <div class="mrb-24 mrb-lg-37">
                                        <div class="d-flex justify-content-start mrl-10- mrr-10- over-au over-lg-hid">
                                            <div class="pdl-10 pdr-10">
                                                <button class="d-block btn-reset clr-secondary-2 clr-accent-h tra-0-2s-ease" data-js-button-input-change type="button" data-js-input-name="telegram" data-js-input-placeholder="Ваш номер Telegram">
                                                    <span class="d-flex align-items-center mrl-4- mrr-4-">
                                                        <span class="pdl-4 pdr-4">
                                                            <span class="h-38 w-38 brr-50-p brw-1 brs-sol clr-inh-br d-flex justify-content-center align-items-center">
                                                                <i class="icon-telegram clr-inh p-rel l-1- t-1 fts-28"></i>
                                                            </span>
                                                        </span>
                                                        <span class="pdl-5 pdr-4">
                                                            <span class="d-block fts-12 ftw-500 lh-1-1667">Telegram</span>
                                                        </span>
                                                    </span>
                                                </button>
                                            </div>
                                            <div class="pdl-10 pdr-10">
                                                <button class="d-block btn-reset clr-secondary-2 clr-accent-h tra-0-2s-ease" data-js-button-input-change type="button" data-js-input-name="whatsapp" data-js-input-placeholder="Ваш номер WhatsApp">
                                                    <span class="d-flex align-items-center mrl-4- mrr-4-">
                                                        <span class="pdl-4 pdr-4">
                                                            <span class="h-38 w-38 brr-50-p brw-1 brs-sol clr-inh-br d-flex justify-content-center align-items-center">
                                                                <i class="icon-whatsapp fts-29">
                                                                    <span class="path1"></span>
                                                                    <span class="path2 clr-white"></span>
                                                                </i>
                                                            </span>
                                                        </span>
                                                        <span class="pdl-5 pdr-4">
                                                            <span class="d-block fts-12 ftw-500 lh-1-1667">WhatsApp</span>
                                                        </span>
                                                    </span>
                                                </button>
                                            </div>
                                            <div class="pdl-10 pdr-10">
                                                <button class="d-block btn-reset clr-secondary-2 clr-accent-h tra-0-2s-ease" data-js-button-input-change type="button" data-js-input-name="viber" data-js-input-placeholder="Ваш номер Viber">
                                                    <span class="d-flex align-items-center mrl-4- mrr-4-">
                                                        <span class="pdl-4 pdr-4">
                                                            <span class="h-38 w-38 brr-50-p brw-1 brs-sol clr-inh-br d-flex justify-content-center align-items-center">
                                                                <i class="icon-viber clr-inh fts-23"></i>
                                                            </span>
                                                        </span>
                                                        <span class="pdl-5 pdr-4">
                                                            <span class="d-block fts-12 ftw-500 lh-1-1667">Viber</span>
                                                        </span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="mxw-306">
                                            <form class="d-block" action="#">
                                                <div class="p-rel mrb-12 mrb-lg-21">
                                                    <label class="c-au d-block">
                                                        <input class="d-block mnh-52 br-0 w-100-p pdl-30 pdr-30 bg-tra brtlr-6 brtrr-6 brbrr-6 brblr-6 clr-black p-rel z-i-10 fts-14 ftw-300 lh-1" type="tel" name="telegram" placeholder="Ваш номер Telegram" data-js-button-input-change-control>
                                                        <span class="d-block bg-clr-secondary-9 brw-1 brs-sol clr-accent-br w-100-p h-100-p p-abs l-0 t-0 r-0 b-0 z-i-1- brtlr-6 brtrr-6 brbrr-6 brblr-6 brw-2-f tra-0-2s-ease" data-js-form-control-overlay=""></span>
                                                    </label>
                                                </div>
                                                <div class="p-rel mrb-11 mrb-lg-5">
                                                    <button class="btn btn--primary mnh-52 mnw-100-p ftw-500 pdl-15 pdr-15 pdt-5 pdb-5 w-100-p d-flex justify-content-center align-items-center brtlr-6 brtrr-6 brbrr-6 brblr-6" type="submit">
                                                        <span class="d-flex justify-content-center align-items-center">
                                                            <span class="d-flex justify-content-center align-items-center mrl-9- mrr-9-">
                                                                <span class="pdl-9 pdr-9">
                                                                    <span class="d-block fts-16 ftw-500 ls-0-24-">Оставить заявку</span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </button>
                                                </div>
                                                <div class="p-rel text-center text-lg-left">
                                                    <p class="fts-12 ftw-300 lh-1-25">Нажимая кнопку “Оставить заявку” вы соглашаетесь с условиями обработки <a class="clr-inh clr-accent-h" href="#">персональных данных</a></p>
                                                </div>
                                            </form> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>